[2016-12-15 21:45] escobar5 opened #1 "Question about validation"
Hi,

Thanks for this effort, it is really valuable for a lot of people.

I have a question about validation from some time ago and it applies to this type of architecture. This project is using FluentValidation to specify validation rules on the domain level, and then it uses Data Annotations to specify validation on the application level, is there a way to not specify the validation rules in mult

[2016-12-16 21:01] EduardoPires commented on #1
Hi Escobar! Thank you!

If I can choose I prefer using all validations in an unique point (domain level), but we are working with web development and I think that makes sense of some efforts to avoid unnecessary hits in the server, so the data annotations are useful because they are used in the forms, but the validation in domain level must be required to ensure the data consistency.

[2016-12-16 21:01] #1 closed

[2016-12-21 15:46] BrunoZanholo opened #2 "Equinox.Domain.Core X Equinox.Domain"
@EduardoPires porque um domain e um domain.core? Qual a definição para essa separação?

[2016-12-22 01:29] EduardoPires commented on #2
O Domain.Core é um Shared Kernel. O projeto não está dividido em Bounded Contexts por que é pequeno, mas já está estruturado para tal.

[2016-12-22 01:29] #2 closed

[2016-12-26 13:30] brunocasarotti opened #3 "How do I make use of the ValueObject?"
Hello, I would like to know how do I use the `ValueObject ` class, can you provide an example of how do you use this class? I know it came from DDD but I never really used it before.

[2016-12-26 18:29] EduardoPires commented on #3
Value Objects came from Domain Model Pattern and are very useful to represents pieces of data that are not Entities. In this source I will have some implementations in v2.0 but you can learn more about in this post:
[http://enterprisecraftsmanship.com/2015/01/03/value-objects-explained/](http://enterprisecraftsmanship.com/2015/01/03/value-objects-explained/)

[2017-01-25 13:49] jedielson opened #4 "Commit on Domain Layers"
Hi Eduardo.

I have read in some article that the application layer is the layer responsible for controlling the transactions carried out by the application.

However, in this project the transactions are being commited in Command handlers.

Of course, it would be quiet to inject an IUnityOfWork implementation into the application services, but with that, we would lose the benefit of launching dom

[2017-02-15 06:11] EduardoPires commented on #4
There is no problem raising events from application layer, it's a business layer too.

But it's a different approach using the CQRS concerns and segregating the read / write way.
There is no exact rule for follow, this is a very known standard, feel free to use in this way without caring about design flaws.

I think that's not necessary to think about design improvements, do you have some suggesti

[2017-02-15 06:11] #4 closed

[2017-02-15 11:26] jedielson commented on #4
Thanks for your attention!

So if I want to use my UnityOfWork in the Application Service it would be ok, right!
It would be the only change I would propose.

[2017-03-07 21:12] riguelbf opened #8 "Tests end to end"
Pires acredito que seria interessante um exemplo de boas praticas para implementar testes end to end. Talvez com  [Xunit](https://xunit.github.io/)

[2017-03-08 00:01] EduardoPires commented on #8
Q: "believes that it is interesting for an example of good practice to test end-to-end testing. Maybe with Xunit".

A: "Sure! In the next versions the project will have end-to-end tests."

[2017-03-08 00:01] #8 closed

[2017-04-06 14:56] miltoncamara opened #9 "Método ToTable dentro do método Map"
Olá Eduardo, tudo bem? Notei que você teve que fazer uma esquema para conseguir mapear os campos dentro de classe separada, porem o método ToTable não veio na extensão que você criou, forçando então ter que criar no método OnModelCreating da classe Context.

Teria alguma sugestão?

Tks

[2017-04-06 15:04] miltoncamara commented on #9
Por enquanto eu tive que fazer da seguinte forma até que em uma nova versão seja possível.

`        public static void AddConfiguration<TEntity>(this ModelBuilder modelBuilder, EntityTypeConfiguration<TEntity> configuration, string tableName) where TEntity : class
        {
            configuration.Map(modelBuilder.Entity<TEntity>().ToTable(tableName));
        }`

[2017-04-06 15:24] miltoncamara commented on #9
Agora que percebi, não é necessário fazer nada, somente adicionar a namespace Microsoft.EntityFrameworkCore

👍

[2017-04-07 15:01] ruslann opened #10 "Does not work removal customer"
Good afternoon.
Does not work removal Customers. The necessary rights to delete were issued when the user was created:

public async Task<IActionResult> Register(RegisterViewModel model, string returnUrl = null)
{
....
      user.Claims.Add(new IdentityUserClaim<string>
                {
                    ClaimType = "Customers",
                    ClaimValue = "Write"
                });

[2017-04-10 13:31] m2017atTR opened #11 "Migrations Problem"
I am trying to use Migrations beside sql script
But migrations' some is in Equinox.Infra.CrossCutting.Identity and others in Equinox.Infra.Data

how to use them

--- after afew try

          dotnet ef database update --context  EquinoxContext  --startup-project ../Equinox.UI.Site

          dotnet ef database update --context  EventStoreSQLContext --startup-project ../Equinox.UI.Site

commands wo

[2017-04-11 03:28] #9 closed

[2017-04-11 03:34] EduardoPires commented on #11
Sorry I didn't understand. Could you give more details?

[2017-04-11 03:34] #11 closed

[2017-04-11 03:41] EduardoPires commented on #10
Please check if the table AspNetUserClaims have the both claims. Due the validation logic the claims need to be together like "Write,Remove" in the same claim.

So you need:
user.Claims.Add(new IdentityUserClaim
{
ClaimType = "Customers",
ClaimValue = "Write,Remove"
});

[2017-04-11 03:41] #10 closed

[2017-04-11 06:20] m2017atTR commented on #11
Ok. Sorry.
Project is using EntityFramework ,

migrations could be done but
there is more then one EF DbContext in Equinox.Infra.Data
I could do it succesfully but
how to make EF data migrations for Equinox.Infra.CrossCutting.Identity project..

and second question is
How to change db choise if i want to use PostgreSql or MySql

thanks

[2017-04-19 12:00] m2017atTR commented on #11
Ok. Got it...
ef migration contains startup project
and second is ;
Defining and injecting DBContexts done jobe succesfully.

thanks for this good work.
regards

[2017-04-21 08:36] ruslann commented on #10
Thanks.

[2017-04-24 13:48] di48l069 opened #12 "Help!"
Hello @EduardoPires  I have built my project around EquinoxProject was wondering can you help me with something?

[2017-04-28 05:29] di48l069 commented on #12
How would I generate ApplicationDbContextModelSnapshot.cs this via nuget console?

[2017-05-03 20:05] vip32 commented on #12
all nugets are restored by using 'dotnet restore'

[2017-05-05 00:12] EduardoPires commented on #12
@di48l069 Running the EF command Update-Database all snapshots will be updated.

[2017-05-05 00:12] #12 closed

[2017-05-05 06:39] di48l069 commented on #12
@EduardoPires Thank you

[2017-05-10 20:21] miltoncamara opened #13 "Versão 2.0 - Webapi"
Quando será lançado a versão 2.0?

[2017-05-15 02:49] levalencia opened #14 "Lack of documentation"
Hello Eduardo

I came across this github repo and its amazing, exactly what I was looking for.  However classes are not documented and for a person who doesnt know about DDD a lot then its hard to understand.

Can you please point me in the right direction of what to read first before I can understand your code.

I found these posts but they are quite old and not sure if you took some code from th

[2017-05-19 10:31] gtzinos opened #15 "Integration with .net core api (Dapper with mysql connector)"
I'm developing a Web API with .Net core api 1.1. After searching I can't find any document or sample that use authorization without the use of Entity Framework. Instead of this i need to use dapper with a mysql connector in order to connect my app with a mysql server. Is it possible to do it with your library ? If yes please can i have an example ?

[2017-05-19 11:03] EduardoPires commented on #15
This is a sample project not a library. You can fork this project and implement Dapper with MySQL without problems.

[2017-05-19 11:04] #15 closed

[2017-05-19 11:05] EduardoPires commented on #13
Version 2.0 will be available at Q3 or Q4

[2017-05-19 11:05] #13 closed

[2017-05-19 11:09] EduardoPires commented on #14
You need to understand about DDD concepts (entity modeling, aggregates) CQRS concepts (commands, queries, bus), SOLID concepts (part of POO) and details about the frameworks and tools described in the main page. My advice: Read the book of the author Vaughn Vernon about DDD.

[2017-05-19 11:09] #14 closed

[2017-05-23 20:29] ipvalverde opened #16 "XSS vulnerability"
Hi,

The system has a XSS vulnerability in the auditing/history page.
The JSON data received by the ajax request is not being html-encoded.

[2017-05-31 14:10] ruslann opened #17 "When will Release 2.0"
Hello.
Can you please tell me when you plan to release 2.0?
You wrote in the roadmap first quarter.

[2017-06-14 08:14] EduardoPires commented on #17
Hello! I had to delay the v2
Will be available in Q3

[2017-06-14 08:14] #17 closed

[2017-06-14 08:15] EduardoPires commented on #16
Thanks for reporting!
I'll fix in next version

[2017-06-20 14:06] di48l069 opened #18 "Error : Value cannot be null"
Hello @EduardoPires  im trying to `update-database` the database but its giving me the error below can you maybe assist me with this problem?

[code]

**appsettings.json**
[code]

[2017-06-20 14:08] di48l069 commented on #18
@EduardoPires I can invite you to project if needed?

[2017-06-21 12:34] levalencia opened #19 "Where to put WEB API?"
In my next project I would like to use this as an starting point, however we also need to create a REST API to expose system functionality, where would this project fit in the entire architecture?

[2017-06-22 05:14] CodeWorldIndustries commented on #19
have you tried just creating a new project? WebAPI then either create a new folder called Api and create your controllers that inherit from ApiController. From there each request would start from the bus, make its way to the command, command handler, domain, event, event handler... etc.

Example:
`
        public ICommandBus CommandBus;

        public MovieController() : this(ServiceLocator.Curre

[2017-07-08 20:03] xperiandri opened #20 "Add a components diagram"
Could you add a components diagram like layer diagram or so.
It will help to understand relations and whole architecture.

[2017-08-03 09:29] MKI-Miro opened #21 "How to use SelectListItem for dropdown"
Hi

I need to use dropdown. So for example i need to add this
`public IEnumerable<SelectListItem> CreditCards { get; set; `
to
`CustomerViewModel`
but SelectListItem is part of Microsoft.AspNetCore.Mvc.ViewFeatures.dll

Is it correct to add MVC dependency to Application project?

Thanks

[2017-08-03 12:09] thiagolunardi commented on #21
Hi @MKI-Miro

God no! You Application should not be aware of what kind of client is consuming it - web, mobile, windows, don't care. So, no dependency at all on it. The Application project should be ready to serve any kind of project.

About the `SelectListItem`...

Actually, this depends on you. You can extend the `CustomerViewModel` class in you presentation layer and add more properties to it.

[2017-08-03 15:44] MKI-Miro commented on #21
but I cannot add SelectListItem to CustomerViewModel.... (because of dependency to MVC)

so what is the solution?

[2017-08-03 17:02] thiagolunardi commented on #21
You extend it.

At you UI.Web project, create a file `/CustomViewModels/MyCustomerViewModel.cs`

[code]

[2017-08-03 17:40] MKI-Miro commented on #21
but CustomerAppService does not reference UI.Web

[2017-08-03 19:16] thiagolunardi commented on #21
Yes, it does.
The UI.Web project do reference mainly to Application project.

[2017-08-03 19:18] thiagolunardi commented on #21
Ok, we are missing some info here.

What you have right now at your `Application.ViewModels.CustomerViewModel`?

Can you share the code here?

[2017-08-03 19:20] MKI-Miro commented on #21
nothing :) it was just wondering how to do it. All I have is your code. So maybe you can extend your application with one dropdown.

[2017-08-03 19:23] thiagolunardi commented on #21
But I already show you that with `MyCustomerViewModel` sample.

What you didn't get it?

[2017-08-08 14:09] alexsandro-xpt opened #23 "New feature request: Docker support"
Please add a Docker support to run this project.

[2017-08-09 10:38] khaueviana opened #25 "Suggestions for unit tests [discussion]"
Hey folks,

I'm beginning the unit tests in this project.

What are your suggestions for the frameworks?

My suggestions are XUnit and NSubstitute.

[2017-08-09 13:17] thiagolunardi commented on #25
Take a look here: [https://github.com/EduardoPires/UnitTestingTools](https://github.com/EduardoPires/UnitTestingTools).

[2017-08-09 13:18] thiagolunardi commented on #21
Can we close your issue, @MKI-Miro ?

[2017-08-09 13:23] thiagolunardi commented on #20
You could use this as a reference.

![DDD](http://3.bp.blogspot.com/-cuFTNVOsPoA/VM-uTHdlitI/AAAAAAAAARA/jDb1zInYQ_Y/s1600/ddd-nlayered.jpg "DDD")

[2017-08-09 13:33] thiagolunardi commented on #18
Try being explicit about the DbContext.

`PM> Update-Database -Context EquinoxContext`

This project has 3 context, so being explicitly could do the job.

[2017-08-09 14:09] khaueviana commented on #25
Ok.
I'll look at this and use it!

[2017-08-09 14:30] #25 closed

[2017-08-09 19:41] di48l069 commented on #18
@thiagolunardi Legend thank you

[2017-08-09 19:56] #18 closed

[2017-08-09 19:57] EduardoPires commented on #23
Added to v2.0 roadmap

[2017-08-09 19:59] EduardoPires commented on #21
I think @thiagolunardi helped you, if you have more questions please reopen the issue.

[2017-08-09 19:59] #21 closed

[2017-08-09 20:04] EduardoPires commented on #20
The diagram above is near of the real implementation, but I'm using CQRS pattern instead domain services. The advantage is split the read and write responsibilities.

[2017-08-09 20:04] #20 closed

[2017-08-09 20:11] #19 closed

[2017-08-09 20:46] khaueviana commented on #25
@EduardoPires is ok for you?

[2017-08-10 01:46] EduardoPires commented on #25
Yes! I recommend the tools collection in this project. In the future I will implement all this stuff in Equinox...

[2017-08-10 11:53] khaueviana commented on #25
I Will implement ;)

[2017-08-11 00:18] digounet opened #26 "Run weapi and and site"
Hello,

How can I run both weapi and and site ?

If I go to the webapi folder and run the dotnet run command, I can't access the site URL. The same if I run dotnet run in the site folder..

Thanks.

[2017-08-11 05:35] EduardoPires commented on #26
You need to run in two separated process.
Try running with this command, user different port for each project:

SET ASPNETCORE_URLS=https://*:5123 && dotnet run

[2017-08-11 05:35] #26 closed

[2017-08-11 09:07] digounet commented on #26
Thank you Eduardo. I will try it. Another little question: to authenticate a mobile app one the webapi, have I to implement JWT or can I use it as is? Thanks

[2017-08-11 16:21] Tabgyn opened #27 "Support for Multi Tenancy"
I would like to know if you have plans to add support for multi tenancy.

[2017-08-11 22:53] EduardoPires commented on #27
It's a good idea, I'll think about.

[2017-08-12 00:31] EduardoPires commented on #26
@digounet The best solution is using a token!

[2017-08-13 20:59] digounet opened #28 "Claims not working"
Hello Eduardo,

I don't know why but the user can't register a new customer: "You don't have enough access.". If I change [Authorize(Policy = "CanWriteCustomerData")] to [Authorize] it works.

[2017-08-14 09:12] thiagolunardi opened #29 "Go further and implements IdentityServer4"
Implements a further segregation of Identity service and use [IdentityServer4](https://github.com/IdentityServer/IdentityServer4) and full isolate it as running service.

[2017-08-15 03:57] EduardoPires commented on #28
Did you registered the user by the application?
Did you validate the data in the Claims table?

[2017-08-15 06:31] davesunny1985 commented on #29
hi there,

How can I have async Controllers in the project?
It would be great if you have guide me on that. And also do I need to use MQ or MediatR etc. for Async operation?

Please let me know

Thanks & Regards,
Sunny Dave

[2017-08-15 08:41] digounet commented on #28
Yes. There're two records in user claims table.

[2017-08-15 09:34] EduardoPires commented on #28
I updated to the ASP.NET 2.0 version and tested the authorization rules. It's working fine.

[2017-08-15 10:22] thiagolunardi commented on #29
@davesunny1985 , please, create a new issue with you question, buddy.

[2017-08-15 17:28] digounet commented on #28
Hello Eduardo,

Did you registered the user by the application? YES
Did you validate the data in the Claims table? YES

In claim table I have:

  | Id | ClaimType | ClaimValue | UserId
-- | -- | -- | -- | --
  | 9 | Parks | Write | 925dbffb-731d-40e8-b4e4-d4eb4986e07c
  | 10 | Parks | Read | 925dbffb-731d-40e8-b4e4-d4eb4986e07c
  | 11 | Parks | Remove | 925dbffb-731d-40e8-b4e4-d4eb4986e07c

In Use

[2017-08-15 19:41] thiagolunardi commented on #28
@digounet What you have at `AspNetUserClaims` table?

[2017-08-15 20:01] EduardoPires commented on #28
Try putting all together like:
Write, Remove, Create ......

[2017-08-15 20:20] digounet commented on #28
@thiagolunardi In AspNetUserClaims I've the following data:

  | Id | ClaimType | ClaimValue | UserId
-- | -- | -- | -- | --
  | 9 | Parks | Write | 925dbffb-731d-40e8-b4e4-d4eb4986e07c
  | 10 | Parks | Read | 925dbffb-731d-40e8-b4e4-d4eb4986e07c
  | 11 | Parks | Remove | 925dbffb-731d-40e8-b4e4-d4eb4986e07c

My code is located in: https://github.com/digounet/FoodPark/tree/master/web/src

[2017-08-15 20:50] digounet commented on #28
@thiagolunardi in ClaimsRequirementHandler class i wrote(only for tests):

[code]

And the console show:

[code]

[2017-08-15 21:13] digounet commented on #28
@EduardoPires  @thiagolunardi  Solved:

In ClaimsRequirementHandler i've changed the method HandleRequirementAsync to:

[code]

[2017-08-15 22:31] EduardoPires commented on #28
That's Right! the original implementation get only the first row.

[2017-08-15 22:31] #28 closed

[2017-08-15 23:49] davesunny1985 opened #30 "About Async Controllers"
hi there,

How can I have async Controllers in the project?
It would be great if you have guide me on that. And also do I need to use MQ or MediatR etc. for Async operation?

Please let me know

Thanks & Regards,
Sunny Dave

[2017-08-17 08:27] AliCharper opened #31 "Entity Relations."
Can you please add a complicated MODEL and show how can we implement ONE-Many and Many-Many relations also?.

[2017-08-17 08:28] AliCharper commented on #31
Just having the Customer table can not solve the problem. Please add more Entities and teach us how to use them together. Thanks.

[2017-08-17 09:08] thiagolunardi commented on #31
Hey @AliCharper , what problem are you trying to solve?

One-To-Many and Many-To-Many concerns are persistency concerns.
As we are using EntityFramework as ORM for our persistency layer, you can just map them like through this.

[code]

[code]

[2017-08-17 09:20] AliCharper commented on #31
Yes. Thanks, but then we have to use Automapper, define ViewModel and new event. I wish I had a sample a bit more complicated. I mean with a more complex model only.

[2017-08-17 09:24] AliCharper commented on #31
I am talking the whole concept. I am a bit lost in defining Events and ... when I have a complex Model(DB).

[2017-08-17 10:24] thiagolunardi opened #32 "EventStore as NoSQL database"
Event sourcing mainly is composed by objects notation data. So, reduce friction and (des) serializations persisting them as documents.

[2017-08-17 13:46] thiagolunardi commented on #30
You can just do `public async Task<IActionResult> Get() {...}`.

When you work with messaging, it's always async operations. You fire the message expecting that someone - or even a lot of ones :) - will get the message the process it.

And you're not obligated to use MQ or MediatR. You can use whatever messenger handler you want.

[2017-08-18 01:02] achmstein opened #33 "Unique customer name validation"
How can I handle the validation of a unique customer name?

[2017-08-18 06:46] thiagolunardi commented on #33
During the handling of `RegisterNewCustomerCommand`, you can ask the `_customerRepository` if already exist any record with that same name.

To simplify, the same way that it's [been doing with the email validation](https://github.com/EduardoPires/EquinoxProject/blob/master/src/Equinox.Domain/CommandHandlers/CustomerCommandHandler.cs#L39).

[code]

But you may change for do the same with names.

[2017-08-18 19:28] digounet opened #34 "Pull request"
Hello Eduardo,

I've implemented JWT access token in WebApi project. I'm trying to send a pull request to your branch  but I haven't authorization.

[2017-08-19 19:08] achmstein commented on #33
I think that we should validate name/email uniqueness in "CustomerValidation". am I right?

[2017-08-21 16:50] satishbyali opened #35 "Project - Documentation??"
Hi,
This is a great project for me to learn and contribute.
I have cloned and running it to test.

Is there a document or e-book available for better understanding the details?

Thanks.

[2017-08-24 22:11] houssam-saissi opened #36 "Problème dans la modification d'un objet par exemple Customer"
Bonjour,

Nous ajoutons une colonne "Adresse" à l'entité "Customer". Lors de l'insertion d'une nouvelle ligne, nous affectons la valeur : "Mon-Adresse" à la propriété "Adresse". Maintenant si nous souhaitons modifier toutes les colonnes de l'entité "Customer" sauf "Adresse", cette dernière se retrouve avec <chaine vide> dans la base de données  : son ancienne valeur a été écrasée.

Merci

[2017-08-25 05:10] AliCharper opened #37 "Not to having GUID as primary key for all the tables"
Hi,

My existing database does not have a GUID as primary key for all the tables. What should I do now?.

[2017-08-25 07:29] thiagolunardi commented on #37
Can you provide more info about your database?
Are you trying just to run Equinox at your environment, or it's something else?

[2017-08-25 07:29] thiagolunardi commented on #36
@houssam-saissi Please, address your message in english.

[2017-08-25 07:32] AliCharper commented on #37
I have an existing very complicated DB. That's why I already asked a more complicated sample with more than one Entity which it should have one-one and one-many relation as well.

[2017-08-25 08:46] thiagolunardi commented on #37
Ok, let me see how I can help.
You don't need to use Guid as Id, it's not an obligation.
You just need to map the entity properly at your Data Context project.

Asking for a more complex sample is too generic and it will not happen, it's not planned.
But, if you share one small piece of problem at time, we may try to help.

[2017-08-25 08:49] AliCharper commented on #37
YES. Thanks. I get lost when I have to monitor events for a complex scenario. I wish it had more than one Model class and handled relations as a sample.

[2017-08-25 08:59] thiagolunardi commented on #37
Can you write a small sample snipped  here? Then we can go deep on it.

[2017-08-25 09:03] AliCharper commented on #37
1- Some tables do not have GUID as Primary-key and it is integer for example.
2- Entities have relation so I am not sure about how to define a new Event handler for the other Entity.

I did change the AggreatorID from GUID to string and work fine , but I do not know what to do if my table does not have a GUID primary key.

[2017-08-25 09:20] AliCharper commented on #37
If I use anything other than GUID as a primarykey, then how to assign to the aggrigatorID ?
--
   public Persons(Guid id, string name, string family, string address)
        {
            Id = id;
            Name = name;
            Family = family;
            Address = address;
        }

the type would be different then.

[2017-08-25 09:23] thiagolunardi commented on #37
It's important that you may use one EventSource entity per Domain entity.
So, if the domain entity has Guid Id, the AggrigatorId will be Guid, is it's `int`, so both should be `int`.

[2017-08-25 09:30] AliCharper commented on #37
but I do inherit from Entity which has a GUID ID in the base class.

[2017-08-25 11:01] houssam-saissi commented on #36
We add an "Address" column to the "Customer" entity. When inserting a new line, we assign the value: "My-Address" to the "Address" property. Now if we want to change all the columns of the "Customer" entity except "Address", the latter will be found in the database: its old value has been overwritten.

[2017-08-25 11:03] houssam-saissi commented on #36
Hi
How do you change only the Name of a Customer for example without edited other properties?

[2017-08-25 11:39] thiagolunardi commented on #37
Just remove te Guid Id property from Entity class, and bring it to each Entity specific class.
Your are adjusting, so, ofc, you need to do a few dirty job me make it work.

[2017-08-25 11:42] AliCharper commented on #37
so if the primarykey name was not ID and it was not GUID, the aggregateid would not work.Correct?.

[2017-08-25 11:49] thiagolunardi commented on #36
One option is, at [CustomerCommandHandler](https://github.com/EduardoPires/EquinoxProject/blob/master/src/Equinox.Domain/CommandHandlers/CustomerCommandHandler.cs), add a new Handler - ofc, create a new `UpdateCustomerNameCommand`

[code]

[2017-08-25 12:01] thiagolunardi commented on #37
The idea behind the aggregateId is just to keep track on changes through eventsourcing. Just create a Guid.New for it and you will be fine.

They don't need to be the same, just need to have one aggregateid per one Entity.

Imagine if you have compose key for an entity, you don't create a compose aggregateid , just keep one-to-one relation.

[2017-08-25 15:12] houssam-saissi commented on #36
Thansk for reply :),

But this is not a good method because if I have 100 properties in my Customer class I will need 100 Handler in this case !!

And then if I have a form with 10 fields and if I have modified only 1 field, the others must not be modified (only the modified field that must be saved!)

Additionally, "customer.Name" is a private property that can not be accessed. And if I create a

[2017-08-27 09:25] houssam-saissi opened #38 "Automapper : ignore non-existing properties"
Hi,
How to ignore all destination members, except the ones that are mapped? I tested all the solutions of the forums but it does not work !
Thanks

[2017-08-28 06:56] thiagolunardi commented on #38
I'm sorry, what you mean by "destination members"?

[2017-08-28 06:56] thiagolunardi commented on #37
@AliCharper May we close this discussion?

[2017-08-28 07:00] thiagolunardi commented on #36
That's a different question, I replied about "How do you change only the Name of a Customer for example without edited other properties".  You could in same direction, you just should stop to think about it for a few minutes:

   public void Handle(UpdateCustomerDataCommand message)
        {
            // validations

            var customer =  _customerRepository.GetById(customer.Id);

[2017-08-28 07:18] thiagolunardi commented on #35
[<img src="https://images-na.ssl-images-amazon.com/images/P/B00794TAUG.01.L.jpg">](https://lesen.amazon.de/kp/embed?asin=B00794TAUG&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_S-7OzbE9123AB&tag=thiagolunardi-21)

[<img src="https://images-na.ssl-images-amazon.com/images/P/B00BCLEBN8.01.L.jpg">](https://lesen.amazon.de/kp/embed?asin=B00BCLEBN8&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_X-7Oz

[2017-08-28 07:35] AliCharper commented on #37
I think so, but I have so many other questions which I would ask later.

[2017-08-28 16:44] trinaldi opened #39 "Can't remove `Customer`"
Hello, Eduardo.

I've seen the closed topics regarding this issue, but even with the changes proposed either by you or some other users, I still can't remove a `Customer`. I'm being redirected to the Access Denied page.

**EDIT**: The Azure project is not working either.

Thanks so far.

[2017-08-28 17:23] trinaldi commented on #39
Inserting the correct roles in the Claims table it worked.

[2017-08-28 17:23] #39 closed

[2017-08-28 18:02] thiagolunardi commented on #38
I guess this is a [AutoMapper](https://github.com/AutoMapper/AutoMapper/wiki/Getting-started), not related to this project.

[2017-08-28 18:09] houssam-saissi commented on #36
This is not a solution to my problem. The UPDATE function must be generic to modify only the properties that exist in ModelView because in advance it is not known exactly which property will be modified. It must be generic !!

[2017-08-28 18:20] houssam-saissi commented on #38
OK. another question :

When I add AutoMapperConfig.RegisterMappings (); In NativeInjectorBootStrapper, the mapping works but when I remove it I get the error: missing type mapping for Customer to .....

Why ?

[2017-08-28 18:28] thiagolunardi commented on #38
Again, another ask about AutoMapper using.

I guess this [link](http://lmgtfy.com/?q=automapper+%20missing+type+mapping) can help you.  :)

[2017-08-28 18:44] thiagolunardi commented on #36
I'm sorry, this support is not meant to support anyone to do their own work/job.
If you have any question about the Equinox project, about what is actually written and published, or find a bug or to suggest any improvements, you are welcome.

[2017-08-30 07:30] EduardoPires commented on #38
The AutoMapper requires a classic setup to work properly in ASPNET Core.
If you follow the example in this project you will get the desired result.

The AutoMapper will map all equal fields found in the "from / to" classes

[2017-08-30 07:30] #38 closed

[2017-08-30 07:34] EduardoPires commented on #37
If you have an Int key for your tables just change it to Int in this sample.
If you have N kinds of keys you can try using a generic datatype passing by the repository configuration like:

public class Repository<TKey, TEntity>

And set your datatype keys as you like.

[2017-08-30 07:34] #37 closed

[2017-08-30 07:36] thiagolunardi commented on #30
@EduardoPires you may close this one.

[2017-08-30 07:39] EduardoPires commented on #36
What you can do is send the entire model to the Handler, recover the original from DB and only set the Fields that you want to accept changes.

So when you save the changes you will keep the others fields that you won't change

[2017-08-30 07:39] #36 closed

[2017-08-30 07:40] #35 closed

[2017-08-30 07:42] EduardoPires commented on #34
It's nice!

But in this case keep this changes for you because we are working in v2 with an special implementation of JWT.

Thank you!

[2017-08-30 07:42] #34 closed

[2017-08-30 07:44] EduardoPires commented on #33
@achmstein Not in this case. The customer validation is about consistency of the fields data. Not about uniqueness.

If you want check if is unique you can do it in the Handler and/or encapsulate this verification in an isolated method for code reuse.

[2017-08-30 07:44] #33 closed

[2017-08-30 07:45] EduardoPires commented on #32
Accepted. It will be implemented at v3.0

[2017-08-30 07:47] EduardoPires commented on #31
You can research about more complicated scenarios using AutoMapper and EF.

In the v2.0 I will implementing some cases like that!

[2017-08-30 07:47] #31 closed

[2017-08-30 07:48] EduardoPires commented on #30
In the v2.0 I will set all controllers as async

[2017-08-30 07:48] #30 closed

[2017-08-30 10:11] davesunny1985 commented on #30
Thanks a lot

On Wed, 30 Aug 2017 at 5:48 pm, Eduardo Pires <notifications@github.com>
wrote:

--
Thanks & Regards,
Sunny Dave

[2017-09-07 04:08] AliCharper commented on #37
Imagine if you have compose key for an entity, you don't create a compose aggregateid , just keep one-to-one relation.

Yes, but imagine that I have an existing DB which has so many tables with IN primarykeys or Composite ones. then how can I assign a GUID as an aggregateId ?.

[2017-09-09 22:45] mstfcck opened #40 "Navigation property between Entities"
What is the best way to work between entities that have navigation properties?

[code]
Map:

[code]

How should it be repositories and domain events etc. in this stutation ?

[2017-09-11 14:13] alexsandro-xpt opened #41 "Saga pattern implementation"
Any proposal for Saga implementation?

[2017-09-11 14:45] thiagolunardi commented on #41
It is already ready for it. You may just create your saga using the events, triggers and handlers that are already there.

[2017-09-11 14:47] thiagolunardi commented on #40
I recommend you review that. Customer address is not a entity, it's a value object.

[2017-09-12 07:33] kanpinar opened #42 "Visual Studio Issue"
I have a problem with visual studio 2017 15.3.3 version.
I am trying to use core 2.0 version of this project. clonned and

if i run with F5 then works well, dotnet run works well,
but if i use right click wwwroot and select Wiev In Browser kestrel gives some error that  i could not solve.

Equinox.UI.Site> Now listening on: http://localhost:18888
Equinox.UI.Site> Application started. Press Ctrl+C

[2017-09-13 10:34] kanpinar opened #43 "Tests"
How to add tests for application and infrastructure parts.

- Is this way right ? any suggestion

![image](https://user-images.githubusercontent.com/1278985/30509670-034104f6-9abf-11e7-97b1-4b22378bc3a9.png)

[2017-09-13 11:26] mstfcck commented on #40
Okey, so let's think the Customer is an entity for me. In this case the CustomerAddress should be value object, isn't it? Because I don't care to be specific of CustomerAdress. Every Customer should have more than one Address. How should I do that in similar situation?

[2017-09-13 13:28] kanpinar opened #44 "Uow, Repository and Paged results and Pager"
is there anyone worked for paged resultset, for this project.

- Not sure but when i added pager and filtering  is working fine,
Tryed to pull but dunno how to contribute. And my way is right or not ,for DDD at this point need some help.

[https://github.com/digipolisantwerp/dataaccess_aspnetcore](https://github.com/digipolisantwerp/dataaccess_aspnetcore)

![image](https://user-images.githubuserco

[2017-09-14 12:08] a-patel opened #49 "Service should return Domain entity instead of DTO/ViewModel"
Service layer should always return database domain entities instead on DTO/ViewModels.
Do not user mapping (e.g. using automapper) in service, do it in controller instead.

e.g.
CustomerAppService.GetById(x) => Customer
instead of
CustomerAppService.GetById(x) => CustomerViewModel

[2017-09-14 14:11] alexsandro-xpt commented on #49
+1

[2017-09-14 14:32] jedielson commented on #49
I respectfully don't agree with this statement.

It goes away from CQRS principle that you should simplify your read models to optimize your queries.
Write models, like Customer don't fit well for queries.

[2017-09-16 10:17] kanpinar commented on #29
Isolating Identity Server and Using Web Api kind another project has pros and cons
I am using this project and aproach becouse ; its KISS

I mentioned ASP.NET Boiler Plate and Zero its very well designed but too complex and
hard to work with...

Please Keep it Simple or Give chance to people for keeping it simple wich work with small team (maybe only 1 person)

Thanks and Reagards
Mehmet Kanpinar

[2017-09-18 10:17] gkrit opened #50 "Registration of INotificationHandler<> in the Ioc Container causes messages to be handled twice"
in the Ioc project the following
services.AddScoped<INotificationHandler<RegisterNewCustomerCommand>, CustomerCommandHandler>();

causes the CustomerCommandHandler Handle method to run twice!

[2017-09-20 11:14] #44 closed

[2017-09-20 11:14] #43 closed

[2017-09-20 11:14] #42 closed

[2017-09-21 12:23] kanpinar opened #51 "Multiple RDBMS"
How to migrate to MySQL or
use together MySQL and MsSQL

https://github.com/damienbod/AspNetCoreMultipleProject/tree/master/src/AspNetCoreMultipleProject

thanks for help.

[2017-09-22 08:29] mstfcck commented on #51
I found a repository like this [Weapsy](https://github.com/Weapsy/Weapsy). It might give you an idea.

[2017-09-23 10:46] thiagolunardi commented on #40
I guess you doubt is more about how to map then to EF then about DDD project architecture - this part your doing just fine. So, your question will be better replied at StackOfverflow or so.

[2017-09-23 10:49] thiagolunardi commented on #49
Nothing outside the AppService should know anything about the Domain.

And the Domain entities are not related to "repository/database" entities. In this sample, as we're using EF, and it's really simple demonstration, it's fine. But you should try to avoid create your Entities being concerned about persistence.

[2017-09-23 10:52] thiagolunardi commented on #50
The IOC registration of command handler should be specific.

`services.AddScoped<INotificationHandler<RegisterNewCustomerCommand>, CustomerCommandHandler>();`

[2017-09-23 10:53] thiagolunardi commented on #51
You just need to adapt the `CrossCutting.Data` project to it.

[2017-09-24 18:21] m2017atTR commented on #51
Both are good tips... thanks.

[2017-09-25 18:03] endeffects opened #52 "v2 Branch"
Hi,

i'd like to know if you could please make your version 2 branch public?
Because i like to compare the concepts you plan to use.

Regards

[2017-09-26 15:49] jasonlloydprice commented on #52
i'm curious about this as well.

[2017-10-01 01:01] EduardoPires commented on #52
The branch isn't available yet.
When I have a consistent version I will set the branch public.

[2017-10-01 01:01] #52 closed

[2017-10-01 01:01] #51 closed

[2017-10-01 01:02] EduardoPires commented on #50
I think Thiago answered your doubt!

[2017-10-01 01:02] #50 closed

[2017-10-01 01:07] EduardoPires commented on #49
I disagree. We need to protect our entities. Never receiving or returning your domain models.

[2017-10-01 01:07] #49 closed

[2017-10-01 01:08] EduardoPires commented on #41
In the future versions we may have this scenario if necessary.

[2017-10-01 01:08] #41 closed

[2017-10-01 01:09] #40 closed

[2017-10-04 09:46] thiagolunardi commented on #29
About WebAPI: The idea is to give a sample of how to use all Equinox approach for ones that want to avoid using MVC - I'm this kind, always using SPA + API solution.

About IdServer: That's a God's feeling the direction is going. Full responsibility segregation. Your business should try to avoid to know what a `User` is. Instead, the business knows what a `Customer` is. Also, my app should not be

[2017-10-06 11:44] mtugnoli opened #55 "What about Plugins ?"
it would be great if there were plugin management

[2017-10-11 10:40] kanpinar commented on #55
Hello,

What is the idea ?
        Areas ?
        Moduler design with Autofac or Castle Windsor ?

[2017-10-19 07:27] ElderJames commented on #32
I can help, but I want to know which nosql database you want.

[2017-10-25 22:28] jxvalenz opened #56 "Version 2 UI"
Hello,
The road map mentions a new front end. Will it still be pure ASP.NET MVC or will you use a JavaScript framework?

Thanks, and can't wait for Version 2!

[2017-10-25 23:31] EduardoPires commented on #56
I'll provide a SPA with Angular 4, I'll keep the MVC UI too doing the same thing.
Will be 2 flavors of UI.

[2017-10-25 23:31] #56 closed

[2017-10-25 23:35] EduardoPires commented on #55
I think is good idea, but not for the future plans, this sample is going to be a Micro-services app running in Docker or cloud or local.

[2017-10-25 23:35] #55 closed

[2017-11-02 15:56] mtugnoli opened #57 "Email Queue"
In the user register function It would be nice to add the email message to a db table queue
and a scheduled task that sends it,
this is to have a receipt for all outgoing messages

[2017-11-02 16:09] kanpinar commented on #57
+1
Is that possible to do same for some commands that does need to done immediately.
hold command in a queue then execute when system is in better condition, for example at night..

[2017-11-02 17:07] astw opened #58 "Logger questions"
Is it possible to write logs into files?  and where is the default log file location?

I wonder if I can user Nlogger in the project?

[2017-11-03 02:26] liugt34 opened #59 "Equinox.Application.AutoMapper.AutoMapperConfig.cs"
hello,i have a question ?,How does this file work? i can't find an entry of this file?

or this file did't work ?

[2017-11-03 09:59] thiagolunardi commented on #57
Here are the steps to accomplish this:
1. Create a IEmailService interface in Domain;
2. At CustomerCreatedEvent handler, consume the IEmailService
3. Create a class library for the EmailService, add reference to Domain, implement a EmailService.
4. Registry the EmailService at IoC project to be added to the container.
5. Be happy.

[2017-11-03 10:27] mtugnoli commented on #57
I think a Scheduling Task System is better,
It can also be used for other purposes like ..
- Clear log
- Keep alive
- Notifications
- Other things that have to be repetitive

[2017-11-03 16:50] Blener commented on #59
Hello.

AutoMapper searchs for any implementation of the MapperConfiguration when it's initialized, there's no need to call it.

[2017-11-08 05:49] EduardoPires commented on #58
I can implement something like that, but I don't recommend write logs into files.

[2017-11-08 05:54] EduardoPires commented on #59
Actually this AutoMapperConfig file isn't necessary. It will removed in the next update.
The automapper discover automatically the Profile classes and initialize them.

In the v3 of AutoMapper.Extensions.Microsoft.DependencyInjection the discover isn't working I think was removed, you need to pass the profile classes at services.AddAutomapper(Profile1, Profile2);

[2017-11-08 05:54] #59 closed

[2017-11-08 05:54] #58 closed

[2017-11-08 05:59] EduardoPires commented on #57
You can use HangFire to add tasks at queue, schedule and send the e-mail async.
HangFire have a dashboard that you can track the successful tasks and retry failed tasks.

No windows service is required :)

https://www.hangfire.io/

[2017-11-08 05:59] #57 closed

[2017-11-14 08:47] korzonkiee opened #60 "ViewModels' validation"
Hello,

Let's consider a scenario that we are creating new customer. If I understand correctly, `CustomerViewModel's` validation is performed firstly on object passed from POST, i.e. on `ModelState`.

[src/Equinox.Application/ViewModels/CustomerViewModel.cs](https://github.com/EduardoPires/EquinoxProject/blob/1fb072ac9c8096a2bad882f4562c5028cec5c953/src/Equinox.Application/ViewModels/CustomerViewM

[2017-11-17 18:38] hugoestevam commented on #49
I get very confused about this topic approach.

Because as per the traditional approach or theory wise, ViewModel should be part of User Interface Layer. At least the name says so.

View models are intended to provide information to and from views and should be specific to the application, as opposed to the general domain.
For example, what if your system with several other client types, each requ

[2017-11-20 00:44] EduardoPires commented on #60
I can't figure out how use same logic for different approaches without create a lot of complexity.

About the length is right! Was a distraction.
The advantage of DataAnnotations is the validation in the Razor View it prevents unecessary hits in the server.

I will implement SPA and the client validations will be in JS and the server validations in the commands / models.

In the web development th

[2017-11-20 00:44] #60 closed

[2017-11-20 08:14] thiagolunardi commented on #60
This is a case that brought me to a decision to move all commands and events to Bus class library.

- First, they don't have dependencies with domain;
- Second, a command should be the same - definition and validations - from the app services call to domain handlers. They as just messages, DTOs.

Then the commands can be created from anywhere, but just the app services has the ability to put them

[2017-11-20 08:22] thiagolunardi commented on #49
Just to increase the accurate: ViewModels just provide data to the view, not otherwise. In this scenario, if the client need to send any data to the application, then this should be made via commands.

the ViewModels, from AppServices, always returns RAW data. if the client - MVC, WebAPi, etc - need to format it's exist - eg. an endpoint just need to return {id,name}, and the RAW is {id,name,addre

[2017-11-24 07:09] m2017atTR opened #61 "is development active ?"
#

[2017-11-24 09:18] thiagolunardi commented on #61
@m2017atTR  What you mean?

[2017-11-28 19:13] yessow opened #62 "2.0 Full functional booking application"
Hello

Is «2.0 Full functional booking application» coming up soon with DDD, CQRS and ES?

I can't wait to see how it looks like ?

Thank you

[2017-11-28 22:49] jxvalenz commented on #62
Same here

[2017-11-29 05:41] m2017atTR commented on #62
+1

[2017-12-03 04:53] binson143 opened #63 "Repository pattern implementation need explanation"
In the architecture we can  save the transaction by calling either
 _customerRepository.SaveChanges();  or   Commit();

Why repository needs SaveChanges ,the  uow pattern already  calling dbContext SaveChanges  methode

Please give some clarification..

[2017-12-05 21:26] henry-rodriguez opened #64 "Environment Variables in DbContext"
Hello,

I've been following this project and it appears that the EquinoxContext does not support multiple environment settings (appsettings.*.json) nor environment variables because it is set in the OnConfiguring override method of the EquinoxContext file instead of setting it up in the Equinox.Infra.CrossCutting.IoC.NativeInjectorBootstrapper.cs file.

Am i missing something?
How would this proje

[2017-12-06 05:41] m2017atTR commented on #34
Hello,
for V2 is there a time to publish or open source?

[2017-12-13 14:12] fabiodcesar opened #65 "Localization"
Hi, in the Equinox’s architecture what would be the best way to localize data annotations for View Models (error messages, Display name, etc)? I’d like to have a single source of resource files (resx) stored in the presentation layer (Equinox.UI.Site) which is reused by other layers, is it possible?

[2017-12-18 20:11] fouadroumieh opened #66 "RegisterMappings why it's there?"
I don't see any call to the below method in the code, is it needed?
`public class AutoMapperConfig
    {

        public static MapperConfiguration RegisterMappings()
        {
            return new MapperConfiguration(cfg =>
            {
                cfg.AddProfile(new DomainToViewModelMappingProfile());
                cfg.AddProfile(new ViewModelToDomainMappingProfile());
            });

[2017-12-19 10:39] raptortrx commented on #66
When you call
`services.AddAutoMapper();`
in Startup.cs AutoMapper searches automatically for Mapping Profiles and loads them on Application Startup.

[2017-12-19 11:44] fouadroumieh commented on #66
@raptortrx thanks for your message but how this method is involved in that RegisterMappings?
Because I don't see any call for it.

[2017-12-26 22:21] EduardoPires commented on #66
That is a dead code of an older implementation, it will be removed to avoid misunderstanding.

[2017-12-26 22:26] #62 closed

[2017-12-26 22:30] EduardoPires commented on #63
We have this implementation due the case when you need to persist something without call the Commit of UoW. But if is unnecessary you can remove.

[2017-12-26 22:30] #63 closed

[2018-01-03 08:43] fouadroumieh opened #68 "Why INotificationHandler not IRequestHandlers"
Why INotificationHandler was used instead of IRequestHandlers when Handling commands:

https://github.com/EduardoPires/EquinoxProject/blob/703c4d3e3cb37f675409b4fe66e649e48fc0c111/src/Equinox.Domain/CommandHandlers/CustomerCommandHandler.cs

The below thread show that IRequestHandlers is more for command and INotificationHandler for events type:

https://github.com/jbogard/MediatR/issues/163

[2018-01-03 09:02] EduardoPires commented on #65
I'll add this implementation for the next versions. Maybe v3.

[2018-01-03 09:03] #61 closed

[2018-01-03 09:04] EduardoPires commented on #64
I'll improve the support for N environments in the next version.

[2018-01-08 15:27] akmetainfo opened #69 "New feature request: Customer pagination"
Feature request for your application: enable pagination for customer index page.

[2018-01-28 10:06] muhammetsahin opened #70 "Unmapped members were found. Review the types and members below. AutoMapper.Extensions.Microsoft.DependencyInjection"
Hi,

I've got this error

`An unhandled exception occurred while processing the request.
AutoMapperConfigurationException:
Unmapped members were found. Review the types and members below.
Add a custom mapping expression, ignore, add a custom resolver, or modify the source/destination type
For no matching constructor, add a no-arg ctor, add optional arguments, or map all of the constructor paramete

[2018-01-28 21:56] thiagolunardi commented on #70
Did you run migration Database Update?

[2018-02-02 11:58] kanpinar commented on #29
Is there any date for V3 ?

[2018-02-02 11:59] kanpinar commented on #27
When V3 will be visible ?
IdentityServer and MultiTenancy needed :)

regards

[2018-02-05 10:16] murbanowicz commented on #27
In the meantime: Where should multitenancy authorization sit? As it has to access the resource, it looks like it should call AuthService inside the Repository but is it in line with the patterns ?
Auth has to check the tenantId of the resource and compare it with user tenantId... Can anyone help?

[2018-02-05 10:35] kanpinar commented on #27
I solved with this. but needs caching,Injectable to views/kayouts ext.
by the way saves the day 👍

**Startup ;**
services.AddScoped(typeof(TenantAttribute));

**Controller**
         [ServiceFilter(typeof(TenantAttribute))]
              [Area("Management")]
              public class UserController : BaseController
                 { .... }
**Attribute**
     public class TenantAttribute : Action

[2018-02-05 13:24] Tabgyn commented on #27
Take a look at the SaasKit project: https://github.com/saaskit/saaskit
I've used it and it met my needs well.

[2018-02-05 13:32] leonardoaguiar commented on #27
Hi Tiago. Have you a online sample (Blog, GitHub, or You Tube) or detailed
documentation of SaasKit?

On Mon, Feb 5, 2018, 11:24 Tiago Azevedo Borges <notifications@github.com>
wrote:

--
Leonardo Ribeiro de Aguiar
(11) 9.9680-0260
https://br.linkedin.com/in/leonardoraguiar

[2018-02-05 14:04] murbanowicz commented on #27
Saaskit looks abandoned

On Mon, 5 Feb 2018, 13:32 Leonardo Ribeiro de Aguiar, <
notifications@github.com> wrote:

[2018-02-05 17:39] murbanowicz opened #71 "How to perform a transaction which involves two entities?"
Hi,

I was trying to figure it out but as this great project includes only one model there is no example of that.

How should I handle the process which involves creating 'a group' and assigning creator to this group?  In standard way I would just use simple transaction and transaction.rollback in case of failure but I cannot figure it out how should it be done using these patterns?

I would reall

[2018-02-05 21:33] Tabgyn commented on #27
Even though it seems abandoned, the source code is still there.

This other project uses SaasKit with Asp.net Core and was my starting point:
https://github.com/janaks09/NetCoreSaaS

In my account also have a project made from SaaSKit, although incomplete.

[2018-02-05 21:50] leonardoaguiar commented on #27
Thank you

Em seg, 5 de fev de 2018 às 19:33, Tiago Azevedo Borges <
notifications@github.com> escreveu:

--
Leonardo Ribeiro de Aguiar
(11) 9.9680-0260
https://br.linkedin.com/in/leonardoraguiar

[2018-02-12 18:49] alexsandro-xpt commented on #32
MongoDB @ElderJames

[2018-02-12 19:02] nicotravassos commented on #32
MongoDB for the WIN!

[2018-02-14 04:09] ElderJames commented on #32
Fine,let me try!

[2018-02-15 07:10] nicotravassos opened #72 "MediatR issue"
Hi,

I updated MediatR to its latest version and I am receiving this error below if anyone has also received this error please could you assist me on a fix.

![mediatr](https://user-images.githubusercontent.com/36132357/36244705-fd4af726-122f-11e8-958a-2b7c7bcf14f9.PNG)

![event](https://user-images.githubusercontent.com/36132357/36244726-0ec4d454-1230-11e8-8e9f-bdb4be168d51.PNG)

![event02](https

[2018-02-15 08:02] kanpinar commented on #72
First Q ; Why needed to update version ???

Right Way ;
As you know , Error clearly says that Interface is not implemented,
Just click to yellow bulb then select Implement interface then fix not implemented yet exception part in newly created method ..

Best Solution For Your Situation ;
you can find in git and copy paste implemented source of same versions ;) i guess ..

Suggest;
If you dont know

[2018-02-15 08:10] nicotravassos commented on #72
Thanks @kanpinar

[2018-02-15 08:19] #72 closed

[2018-02-15 11:19] novoselovr opened #73 "does not work Equinox.WebApi"
opens a blank page, the browser console error:
Failed to load resource: the server responded with a status of 404 (Not Found)

[2018-02-15 11:30] kanpinar commented on #73
as far a i know, this solution using Swagger so

          SwaggerEndpoint("/swagger/v1/swagger.json", "My API V1");

[https://swagger.io/](https://swagger.io/)
[https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-help-pages-using-swagger?tabs=visual-studio](https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-help-pages-using-swagger?tabs=visual-studio)

		services.AddWebApi(

[2018-02-15 17:36] EduardoPires commented on #72
The v4 of MediatR have a break change.
I will update the project to use this version and you can check the new implementation.

[2018-02-15 18:32] nicotravassos commented on #72
Thank you @EduardoPires much appreciated!

[2018-02-15 18:50] EduardoPires commented on #73
You can edit the launchSettings.json to set your start page as Swagger page

[2018-02-15 18:50] #73 closed

[2018-02-15 18:53] EduardoPires commented on #71
The command must have all information that you need. If you need to manipulate and change more than one entity do that in CommandHandler (with unit of work). You can publish new commands inside and Handler too.

[2018-02-15 18:53] #71 closed

[2018-02-15 18:54] EduardoPires commented on #70
Closed by IDLE

[2018-02-15 18:55] #70 closed

[2018-02-16 12:01] nicotravassos commented on #72
@EduardoPires sorry to ask this but when can we expect the next release?

[2018-02-20 17:11] afernandes opened #74 "New feature request: Saga"
New feature request: implement saga for long-running business processes

**Example**
[https://blog.bernd-ruecker.com/saga-how-to-implement-complex-business-transactions-without-two-phase-commit-e00aa41a1b1b](https://blog.bernd-ruecker.com/saga-how-to-implement-complex-business-transactions-without-two-phase-commit-e00aa41a1b1b)

[https://docs.particular.net/nservicebus/sagas/](https://docs.particu

[2018-02-20 17:22] afernandes opened #75 "New feature request: Background Commands with MediatR and Hangfire"
New feature request: Background Commands with MediatR and Hangfire

**Example**
[https://codeopinion.com/background-commands-mediatr-hangfire/](https://codeopinion.com/background-commands-mediatr-hangfire/)

[https://github.com/dcomartin/Hangfire.MediatR.Demo](https://github.com/dcomartin/Hangfire.MediatR.Demo)

[2018-02-22 14:05] tobyw opened #76 "Projects don't load."
When I try to open this solution in VS2017 15.5.7 the Presentation and Services projects don't load. I get the error missing Microsoft.Net.Sdk.Web if I try to reload them. It's definitely there. The other projects show numerous errors when trying to build them - missing core libraries. I definitely have the latest Core installed. Any ideas? Thanks

[2018-02-22 15:38] tobyw commented on #76
Found the solution - I had to remove the content of the global.json file and reload the projects, which updated all the targets and fixed everything.

[2018-02-23 12:49] afernandes opened #77 "PM> Update-Database (error)"
Applying migration '20161206204752_Initial' error.
An object named 'AspNetUsers' already exists in the database.

[2018-02-23 13:02] TeoDanilo commented on #77
It aways accours to me. Idk why but I can never update the database, I aways need to delete the DB to use the Update-database when I test this solution to learn from Eduardo. I really fear to use dbfirst in big projetcts.

[2018-02-23 13:22] afernandes commented on #77
I got it resolved!
The tables were being created in two places.

Equinox.Infra.CrossCutting.Identity\Data\Migrations\00000000000000_CreateIdentitySchema.cs

AND

Equinox.Infra.CrossCutting.Identity\Migrations\20161206204752_Initial.cs

[2018-02-24 21:57] afernandes commented on #72
[code]

[2018-02-27 04:06] marcelojaf opened #78 "Using the "Include" on GetAll method"
Hi Eduardo,

If we consider that the Customer entity has a list of another entity like IEnumerable<Address> AddressList;. At the CustomerController, when I use GetAll(), how can I use the Include() to fill the AddressList ?? Is there a way that I can override the GetAll method?

Thank you

[2018-02-27 05:32] kanpinar commented on #78
There is a project on github

https://github.com/digipolisantwerp/dataaccess_aspnetcore

i think good one to Paging include ext. , this kind problems.
Also can easyly integrate this project.
I am using it with mysql with Equinox

[2018-03-11 08:19] OzBob commented on #78
It's in aspnet core 2.1
Upgrade?
That'd be a good feature request ...

[2018-03-11 08:49] OzBob commented on #78
Further EF Core features (include for derived types) https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-entity-framework-core-2-1-preview-1/

[2018-03-14 20:19] guilhermedores commented on #76
This is the best solution?

[2018-03-16 07:02] nicotravassos opened #79 "Add migrations issue with .Identity library"
I am running the following command.

[code]
And I receive the error below.
[code]
I also had this issue with `.Data` library but then added this
[code]
Inside the `.csproj` and fixed the issue but does not seem to help me in the `.Identity` lib because the issue is different.

[2018-03-16 09:18] nicotravassos commented on #79
@EduardoPires How did you generate a migration successfully with out adding an implementation of 'IDesignTimeDbContextFactory<ApplicationDbContext>' to the project

[2018-03-16 09:27] nicotravassos commented on #79
Please my `.csproj` below

[code]

[2018-03-19 13:28] mateushortenciodossantos commented on #42
Hi, have you solved this problem? I'm facing a very similar issue, and I don't know where it is coming from.
Mine happens when it's a nonlocal env, started suddenly

[2018-03-19 20:01] pavelgronsky commented on #42
Update your library version in your package.json. It's help for me!

[2018-03-24 16:21] alexsandro-xpt commented on #75
@afernandes Why add a hangfire feature? Some benefits?

[2018-03-24 16:58] alexsandro-xpt commented on #74
Masstransit or NServicebus?

https://stackoverflow.com/questions/13647423/nservicebus-vs-masstransit

I guess Masstransit is more attractive.

[2018-03-28 22:32] brunohbrito opened #80 "Error - Not Support Targeting .Net Core 2.0"
I was getting this message while trying to build: **"The current .NET SDK does not support targeting .NET Core 2.0.  Either target .NET Core 1.1 or lower, or use a version of the .NET SDK that supports .NET Core 2.0."**

After some hours looking, I got the problem at global.json:

`
{
  "projects": [ "src", "test" ],
  "sdk": {
    "version": "2.0.3"
  }
}
`
So just removing Sdk option, everything

[2018-04-04 06:34] frostholmft opened #82 "Upgrade to use new version 4.x of MediatR"
Some major changes was made to MediatR could you make the project adapt to these changes ?

What is the status on the release plan, i seems postponed ?

[2018-04-04 11:49] tanushshukla commented on #80
thanks. you saved me a day.

[2018-04-04 21:13] abnerorlamunder opened #83 "AutoMapper unmaped properties"
Quando tento utilizar o mapeamento de ViewModel para Command ele da erro informando que há propriedades no Command que não existem no ViewModel, e realmente há, porém como faço para ignorá-los? Achei a seguinte forma, porém não funcionou:

.ForMember(c => c.Timestamp, opt => opt.Ignore())
.ForMember(c => c.ValidationResult, opt => opt.Ignore())
.ForMember(c => c.MessageType, opt => opt.Ignore())
.

[2018-04-05 06:46] nicotravassos commented on #82
@frostholmft I have asked @EduardoPires the same question. I would not count on release anytime soon.

Just keep MediatR @ v2.0.0 until he releases something.

[2018-04-05 06:47] #79 closed

[2018-04-12 12:25] nicotravassos opened #86 "Alternative project"
Does anyone know any alternative projects like this because this project is outdated and it seems that the developer has lost interest in it.

[2018-04-12 15:13] jxvalenz commented on #86
I've also been following this project for months. When it was migrated to .NET Core 2.0 I thought this project was going to be very dynamic. It seemed the author was very enthusiastic and committed, but it's been months since we last heard from him. It's unfortunate because being a newbie with these patterns I was really looking forward to version 2.0 so I could learn how to properly implement ES

[2018-04-12 16:16] TeoDanilo commented on #86
@nicotravassos @jxvalenz

I don't know if he gave up the project (I do think he'd not), but seen hes facebook I can tell you that he is really busy recently. He have hes own school of programers, He was at MVP Conference this month (and probably was helping on the organization of that event in the previosly weeks). Yesterday he posted that he was named Microsoft Regional Director, what makes him e

[2018-04-12 16:31] VictorioBerra opened #87 "Are the view models the domain models?"
I see that the service in the app layer maps ef entities to view models. In my app, I have an extra layer where my repos never return entities but only domain models.

Also whats the major difference between Domain and Domain.Core?

[2018-04-17 13:35] #86 closed

[2018-04-18 03:54] EduardoPires commented on #87
ViewModels aren't Domain Models. ViewModels is like a DTO to transport data and care about forms validation at the View.

The Domain.Core is a common domain, like a shared kernel.

[2018-04-18 03:54] #87 closed

[2018-04-18 03:59] EduardoPires commented on #80
In this case we have 2 options:

-1 Install the last version of SDK and adjust the global.json with the version number

-2 Remove or comment the content of global.json (But the code will works with the SDK on machine, maybe you will get some errors).

My recommendation is the 1 option.

[2018-04-18 03:59] #80 closed

[2018-04-18 04:05] EduardoPires commented on #82
@ghost
"Just keep MediatR @ v2.0.0 until he releases something."  - It's right!

In some days I'll update all the code :)

[2018-04-18 04:05] #82 closed

[2018-04-18 04:06] #77 closed

[2018-04-18 04:10] EduardoPires commented on #75
It's a good thing, but I can not see this necessity in this project at this time.

[2018-04-18 04:10] #75 closed

[2018-04-19 19:36] TeoDanilo opened #88 "Question about Column Names"
Question: if I try to implement a "product" page (like in yout tutorial about DDD) and 'give' some products to a customer, would have problem if both use a guid caled "Id" instead of "ProductId" and "CustomerID" (or simply share same comlumn names)? If I change the names to ProductId and CustomerId would i have to change some generic code?

[2018-04-23 13:58] #88 closed

[2018-04-24 04:45] EduardoPires commented on #88
If you want you can use any name in the PK, but using "ID" you will have some design facilities. You can observe this on the Entity base class.

[2018-04-24 11:30] TeoDanilo commented on #88
Thank you, now that you said i realized that i did never open the entity base class, in fact i did not open anything inside domain.core until your answer. My bad. Thank you again

[2018-04-26 08:59] vip8668 commented on #42
That's work :)

[2018-04-26 17:40] marcrib commented on #74
Nem há situação no projeto atual para se usar saga.

[2018-05-21 10:01] liugt34 opened #90 "it can not run on the new dotnet sdk-2.1.200-win-x64"
i had update the sdk to the new version "dotnet-sdk-2.1.200-win-x64",but i can't run anymore

i find the issue

![image](https://user-images.githubusercontent.com/8056013/40302231-fc877a44-5d20-11e8-92b6-6dce4bbfdb88.png)

[2018-05-22 08:08] EduardoPires commented on #90
It's running normally.

Try to change global.json with the correct version of SDK.

Post some error message.

[2018-05-22 08:08] #90 closed

[2018-05-22 08:10] EduardoPires commented on #66
@fouadroumieh After the last update the code remains because the automatic register only works if the profile class is in ASP.NET project assembly.

[2018-05-22 08:10] #66 closed

[2018-05-22 08:15] EduardoPires commented on #83
It's because automapper didn't found your mapping profiles, see the last change in this project (today) in Startup.cs

[2018-05-22 08:15] #83 closed

[2018-05-22 08:16] EduardoPires commented on #68
Improvement applied!

[2018-05-22 08:16] #68 closed

[2018-05-25 11:44] mtugnoli opened #91 "AspNetUser Mapping"
Is it possible to map AspNetUser to StoredEvent or/and Customs tables ?

[2018-05-25 12:21] mtugnoli opened #92 "Task Scheduling"
Hi, It would be nice to have a scheduling task system in the next version,
best if the list of tasks are stored in db.
ex. Send emails,Keep alive, Clear log

[2018-05-25 23:40] EduardoPires commented on #91
Sure. This is working in this project. See how it works in the code or reading this article:

http://www.eduardopires.net.br/2016/12/asp-net-core-obtendo-o-usuario-logado-em-qualquer-camada/

[2018-05-25 23:40] #91 closed

[2018-05-25 23:41] EduardoPires commented on #92
I'll do that with HangFire

[2018-05-28 23:28] knuxbbs opened #93 "Implement transactions"
Despite the disclaimer, this project has a serious limitation: because it has multiple contexts, it's impossible to create transactions that involves more than one context.

It would be interesting to have a solution to this .NET Core limitation. Also due to the Identity isolation.

[2018-05-28 23:55] btastic commented on #92
Have you seen https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/multi-container-microservice-net-applications/background-tasks-with-ihostedservice?

Maybe it is worth going for native EF Core utility classes than third party?

[2018-05-29 04:33] EduardoPires commented on #93
You can't have consistency with many contexts or services. Forget about transactions.
Read about CAP Theorem:

https://en.wikipedia.org/wiki/CAP_theorem

[2018-05-29 04:33] #93 closed

[2018-05-29 19:43] btastic opened #94 "Question: Best way to handle multiple entities depending on each other"
Hey there,

first off, great repository. Learned a lot! However, right now I am tackling a problem which I don't have a definitive answer to.

I have CreateCustomerCommand which will be handled by a CustomerCommandHandler.

The customer command has some other information, lets say an address. I want to store that address via a address repository.

How would I go about that?

Right now I thought ab

[2018-05-29 22:39] EduardoPires commented on #94
Depends. If Customer is a AggregationRoot and Address is part of this aggregation you need to have just one repository for this entities. Also my recommendation is add address in Customer AddressCollection and save both at the same time by EF. To edit or remove Address you can use more commands and the same customerHandler.

If Address is not part of Customer aggregation you can send a new command

[2018-05-29 22:39] #94 closed

[2018-05-30 19:33] TeoDanilo opened #95 "New feature request: Real time Chat betwing users"
Would be awasome if you implement a chat system to real time comunication betwing logged users.

[2018-05-31 14:29] jernejg opened #96 "ICustomerRepository & IEventStore using separate transactions"
Hi Eduardo,

What are your thoughts on modifying the Customers and the StoredEvent in the same transaction ?

The way I understand ES is that the Event table acts as a source of truth from which you can determine the application state at any point in time, so we first need to guarantee the insertion to the Events table and then modify the current snapshot which is the Customers table.

Thanks for

[2018-06-11 20:14] EduardoPires commented on #96
There's no reason to do that. Events is always in the past... If the app had a problem to persist the event will be necessary some check system to retry.

[2018-06-11 20:14] #96 closed

[2018-06-14 21:09] NicoCG opened #98 "Equinox.UI.Site requires update"
Hi @EduardoPires

Could you kindly update this project --> `Equinox.UI.Site` New release of NetCore has been release and there are a lot of things outdated and there is a new cookie policy thing to add to site.

Please could you add all the new functionality I will greatly appreciate it.

[2018-06-17 19:52] Arpanx opened #99 "Can not login. Does not remember"
I can register as a new user. Passes, everything is fine. - good
I try to enter under the registered login/password - good
But, the program still remains without a logged user - does not work!

P.S. sorry all works. (Updated SDK, rebooted the computer)

[2018-06-17 22:44] #99 closed

[2018-06-20 09:16] Andy-Yin opened #100 "Solution can not be load in VS 2017(V15.7.4)"
Solution can not be load in VS 2017(V15.7.4)

[2018-06-22 01:48] brunohbrito commented on #100
Maybe it's a bug inside Global.json

Open file Global.json and remove Sdk property
Old:
`
{
  "projects": [ "src", "test" ],
  "sdk": {
    "version": "2.1.200"
  }
}
`
New:
`
{
  "projects": [ "src", "test" ]
}
`

[2018-06-22 02:30] Andy-Yin commented on #100
thanks, fixed!

[2018-06-29 15:39] marcrib opened #101 "Why use mediatR in application service?"
Hi

It is common to use MediatR (used for CQRS implementation) for replace Application Service
I understand that CQRS is an orchestration layer for data access

1 - Why not use direct MediatR in Controller?
2 - What advantage use MediatR in application services?

Anyone to explain me?

[2018-06-29 16:04] alexsandro-xpt commented on #101
Maybe for an abstraction. That is it @EduardoPires ?

[2018-06-29 16:07] thiagolunardi commented on #101
Decoupling is the answer. Controller is not responsible for firing messages or alike. It must just validate the request and then forward its command to the proper service. Also it's not nice to spread your application components over layers.

[2018-06-29 17:06] marcrib commented on #101
@thiagolunardi Where this rule written? Any link for me read?

All examples using MediatR is called in Controller

[2018-06-29 17:22] thiagolunardi commented on #101
Yes, but just for example purpose.
In examples, everything is possible to accomplish just inside one action controller. You can validate, add business rules, open connection to database, send emails, write file to disc, etc. But, should you? Is it a good practice?

[2018-06-29 18:18] marcrib commented on #101
@thiagolunardi What is the difference between these two classes?
[code]
and
[code]
both are abstraction, both receive command class

I'm not reclaim, but I want to understand why was used command in application service

[2018-06-29 18:22] marcrib commented on #101
@alexsandro-xpt abstraction of abstraction?

[2018-07-02 18:28] marcrib commented on #101
@thiagolunardi  You to be contradicting yourself, ok

[2018-07-02 18:28] #101 closed

[2018-07-09 10:30] liugt34 opened #102 "can't inject UserManager<User>?"
i write a class   UserCommandHandler : CommandHandler in the webapi

private readonly UserManager<User> _userMgr;
public UserCommandHandler(IUserRepository userRepository,
                                      IUnitOfWork uow,
                                      IMediatorHandler bus,
                                      UserManager<User> userMgr,
                                      INotificat

[2018-07-09 11:38] liugt34 commented on #102
i think i get the reason~
using(var serviceScope = app.ApplicationServices.GetService<IServiceScopeFactory>().CreateScope())
{
         var service = serviceScope.ServiceProvider.GetRequiredService<XXXXXX>();
}

[2018-07-09 11:38] #102 closed

[2018-07-10 16:24] b3r3ch1t opened #103 "DISPONIBILIZAR OS TESTES"
Creio que seria uma excelente oportunidade para demonstrar a utilização de Testes de Unidade.

[2018-07-12 14:20] liugt34 opened #104 "custom login path didn't work"
in startip.cs file
// This method gets called by the runtime. Use this method to add services to the container.
        public void ConfigureServices(IServiceCollection services)
        {
            services.AddUEditorService();
            services.AddIdentity<AdvertUser, IdentityRole>().AddEntityFrameworkStores<AdvertDbContext>().AddDefaultTokenProviders();
            services.AddAuthenticati

[2018-07-12 15:32] alexsandro-xpt commented on #101
@marcrib in this project will appear abstraction of abstraction, but in another case when the web layer is replaced, it's not be an abstraction of abstraction any more.

[2018-07-16 07:08] m2017atTR commented on #56
?

[2018-07-16 07:08] m2017atTR commented on #62
????

[2018-07-17 14:06] #98 closed

[2018-07-17 14:08] NicoCG commented on #98
@EduardoPires closing this due too I don’t see any further changes happening on this project.

[2018-07-18 09:47] #100 closed

[2018-07-18 09:50] Andy-Yin opened #105 "any roadmap for new future?"
good architecture! is there any roadmap for new future?

[2018-07-23 23:15] TeoDanilo opened #106 "Using MySql instead of MS Sql Server"
If I try to use MySql in this DDD environment should I install the Connector and the necessary packages in all projects or just in DATA and Identity?

[2018-07-30 18:15] TeoDanilo commented on #106
already figured out, is not that difficult, but has a lot of hand work

[2018-07-30 18:15] #106 closed

[2018-08-09 17:35] Troom opened #107 "CustomerHistory doesn't work"

[2018-08-16 11:47] alexsandro-xpt opened #108 "Registering Mappings in AutoMapperSetup.cs, what it really means?"
The `AutoMapperConfig.RegisterMappings();` will works only under assembly that which was declared/defined?

https://github.com/EduardoPires/EquinoxProject/blob/3ff7f9f158e36090edf22bdb1d5ea69496224825/src/Equinox.WebApi/Configurations/AutoMapperSetup.cs#L16-L18

[2018-08-22 02:30] pedrofernandesfilho opened #109 "How implement Loggin?"
How implement loggin? Is a cross cutting?
Could you provide an example?

thanks

[2018-08-22 02:47] alanrezendee commented on #109
The project responsible for logging in to this structure is Identity, and this is implemented in the infrastructure layer within CrossCuting. Login with the basic functionalities already being implemented by the Equinox.UI.Site project in the Controller Account you have the basic methods implementing the Identity for operations of Login, Register, External Login, and thence ...

[2018-08-22 17:24] pedrofernandesfilho opened #110 "how to implement log writing in this architecture?"
how to implement log writing in this architecture?
Is a Cross Cutting?
Could you provide an example?

[2018-08-22 17:46] NicoCG commented on #110
Hi @pedrofernandesfilho,

Unfortunately I believe that @EduardoPires will not be doing anymore work on this project as he has not appointed another maintainer and no work has been here for more than two months.

Its sad because multiple people used this project as skeleton template for there own projects.

I could suggest you use project [Skeleton]https://github.com/jej666/Skeleton/tree/master/Ske

[2018-08-23 13:48] jedielson commented on #108
In this case, he is doing  [static configuration of AutoMapper.](https://automapper.readthedocs.io/en/latest/Getting-started.html#where-do-i-configure-automapper)

I think there is a [better approach](https://lostechies.com/jimmybogard/2016/07/20/integrating-automapper-with-asp-net-core-di/) for Asp.Net Core, but I still suggest you to learn both.

0/

[2018-08-23 13:59] jedielson commented on #110
Hi @pedrofernandesfilho.

In this project, you can log using [.net core log infrastructure](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.1).

If you want to write logs for some another infrastructure, you can combine the native log infra with some third part provider, like [serilog](https://serilog.net/). It's pretty easy, and you should have no problems wit

[2018-08-27 02:49] pedrofernandesfilho commented on #110
Hi @jedielson!

 Thanks by response.
 I verify that this native log infra is used in the presentation layer. But, what if I need use a log in another layer?

[2018-08-27 02:59] jedielson commented on #110
It's a good question, and here it's just my points.

I usually log only on my application boundaries.
So, you can have logs on WebApi, Data (EF, Mongodb, etc), External Services (calls to another HttpServices) and etc.

Never on domain, because domain should be only about business rules, and OOP. Not infra.
If you want to log something that happened on domain, use the IMediator service to notify t

[2018-08-27 14:42] pedrofernandesfilho commented on #110
I'm working on a project that the Solution (.sln) is structured as follows:
 A project for a Windows Service, which has only the logic for running a process periodically (performing multiple treatments on records in a queue).
 This process is in a project that represents the Application layer, which is referenced by the Windows Service project.
 There is a project that represents the business laye

[2018-08-29 00:48] jedielson commented on #110
At application level, I'd go with native infraestructure of asp.net core.

Inject the `ILogger` interface on application services.

Another layer on cross cutting is just for build another log provider, or handle DomainEvents that should be logged.

[2018-08-29 13:36] pedrofernandesfilho commented on #110
@jedielson, pelase, can you explain in more detail how to do this injection of the ILogger interface (of .Net Core Framework) in the application layer? If possible with some sample code.

 I have a question that I can not explain myself:
 I think the ILogger interface is not known by the application layer (another project in Solution), so how to do the injection?

 Thanks for the explanations and

[2018-09-04 22:58] Necronux commented on #101
https://stackoverflow.com/questions/50834935/replacing-service-layer-with-mediatr-is-it-worth-to-do-it/51985482#51985482

[2018-09-06 12:56] jedielson commented on #110
Like this.

[code]

And on your *.Application.csproj you install the [Microsoft.Extensions.Logging.Abstractions](https://www.nuget.org/packages/Microsoft.Extensions.Logging.Abstractions/)

[2018-09-18 09:55] wrustel opened #112 "Where are the test?"
How did you test your generic repositories and your Unit Of work?. (Unit test, mock, etc.)

Thank you

[2018-10-03 04:49] pomeara opened #113 "Database initialisation fails....."
Hello, I have just found this application and though it would be great to use as a reference for learning new patterns and a new base application.

I was surprised CodeFirst was not used / automatic database creation rather than having to manually enter EF commands to get the database created and initialised.

When running the Update-Database command I get the following error when using a new data

[2018-10-05 20:42] rpucia commented on #107
I wonder if it is thread safe. I think there should be non-static methods or any "lock" in ToJavaScriptCustomerHistory method

[2018-10-05 20:55] carloshenriqueribeiro commented on #105
https://github.com/EduardoPires/EquinoxProject/wiki/RoadMap

[2018-10-07 07:00] rajdoshi9089 opened #114 "System.InvalidOperationException"
I am getting error like this. Please help me out. it cause error when update record.

'Handler was not found for request of type MediatR.IRequestHandler`2[MineLife.Domain.Commands.UpdateCustomerCommand,MediatR.Unit]. Register your handlers with the container. See the samples in GitHub for examples.'
![capture](https://user-images.githubusercontent.com/43923877/46579333-b04ce000-ca2c-11e8-8e19-3c0a

[2018-10-17 03:27] VitalyV opened #115 "Version 2.0"
Hi Eduardo,

What about Equinox 2.0?
Are you working on this version?

Thanks

[2018-10-30 19:48] EdgarSalazar commented on #42
Clearing cookies will solve the issue. Thanks.

[2018-11-04 13:13] thiagozulato commented on #115
@VitalyV Yes, you can see the roadmap here https://github.com/EduardoPires/EquinoxProject/wiki/RoadMap

[2018-11-09 08:32] liugt34 opened #116 "A second operation started on this context before a previous asynchronous operation completed"
Hi @EduardoPires , when i commit an add request,the efcore will throw this exception

[code]

[2018-11-09 21:00] TeoDanilo commented on #113
Have you took a look at the folowing issue?
https://github.com/EduardoPires/EquinoxProject/issues/77

Looks like that table are in the both migration of Identity layer. I fixed that removing the migration and adding it again.

Then

[2018-11-09 21:24] TeoDanilo opened #117 "Problem to read Related Data"
I can't use ".Include" in CustomerController, and don't know how to do read related data without using it.

CustomerController is like this

            var customerViewModel = _customerAppService.GetById(id.Value);

            if (customerViewModel == null)
            {
                return NotFound();
            }

            return View(customerViewModel);

I would like to use something l

[2018-11-11 18:16] Abdulhameed-A commented on #107
You probably need to resolve the port number in the url, at line `100 (the ajax request)` in `EquinoxProject\src\Equinox.UI.Site\Views\Customer`

[2018-11-28 23:53] pedrofernandesfilho commented on #110
@jedielson, thanks for the explanation.

[2018-12-12 12:58] andreluizsecco commented on #117
The "Include" method belong to Entity Framework Core and not to Controller or AppService.

To get data with related table you have create a method "GetById" in CustomerRepository class (Equinox.Infra.Data project) to override the default behavior in Repository class, like this:

[code]

[2018-12-12 21:13] TeoDanilo commented on #117
@andreluizsecco

It works perfectly! Thank you so much

[2018-12-12 21:13] #117 closed

[2018-12-25 07:28] wangboshun opened #118 "2.0 roadmap"
hello：
Will it be update to 2.0?
Immediately 2019  haha

[2019-01-22 01:15] Cesar1986BR opened #119 "Erro pra ver log history"
estou com problema pra visualizar o log history, quando tento ver recebo esse erro no debugger:
http://prntscr.com/maca3m

e toda vez que insiro um novo custumer eleaté insere mas sempre  da erro :http://prntscr.com/macaoz
tem algo a mais que tenho que fazer?

obrigado

[2019-02-14 23:00] EduardoPires commented on #119
Você criou a base corretamente com todos os mapeamentos?

[2019-02-14 23:00] #119 closed

[2019-02-14 23:02] EduardoPires commented on #118
It will, but I changed my mind about the architecture and I'll have to restart.

[2019-02-14 23:02] #118 closed

[2019-02-14 23:05] EduardoPires commented on #116
Hi @liugt34 can you describe the steps to reproduce this error?

[2019-02-14 23:05] EduardoPires commented on #115
Hi @VitalyV yes! I'm working. Slowly but working.

[2019-02-14 23:05] #115 closed

[2019-02-14 23:08] EduardoPires commented on #114
Seems like your command is not registered, but I never saw this error in my solution. Try the new version.

[2019-02-14 23:08] #114 closed

[2019-02-14 23:08] #113 closed

[2019-02-14 23:09] #110 closed

[2019-02-14 23:09] EduardoPires commented on #112
In the next version I'll write the tests.

[2019-02-14 23:09] #112 closed

[2019-02-14 23:11] EduardoPires commented on #108
The automatic registration only works if the profile classes is in ASP.NET application. So I have to call manually.

[2019-02-14 23:11] #108 closed

[2019-02-14 23:11] #107 closed

[2019-02-14 23:11] #105 closed

[2019-02-14 23:12] EduardoPires commented on #104
Did you decorated the controllers with this new attribute?

[2019-02-14 23:12] #104 closed

[2019-02-14 23:12] EduardoPires commented on #103
In the next version :)

[2019-02-14 23:12] #103 closed

[2019-02-15 01:10] liugt34 commented on #116
in a  CommandHandler , when you has two or more ef AddAsync operation,, one has the await keyword,and the other  did'nt have ,,this exception will throw

[2019-02-22 15:41] nicotravassos opened #120 "[QUESTION] Roadmap"
Hi @EduardoPires,

When can we expect the next release? Reason for me asking your road map is false.

[2019-02-24 22:03] #120 closed

[2019-02-25 20:01] ghost opened #122 "[FEATURE] Alternative datastorage options"
Hi @EduardoPires,

Please could add alternative datastorage options such as `PostgreSQL`.

User can define which database they would like to use:
[code]

[2019-03-01 07:30] arunpratap26 opened #123 "sign in using your Social Networks"
Giving error on  sign in using facebook look bellow
![1](https://user-images.githubusercontent.com/47097845/53623041-dcf2d580-3c21-11e9-898d-89c011ff5c2f.JPG)
![2](https://user-images.githubusercontent.com/47097845/53623047-e3814d00-3c21-11e9-838f-549b13f84b93.JPG)

[2019-03-02 17:26] MoienTajik commented on #23
It's supported now and I think this issue can be closed.

[2019-03-05 16:46] sonphnt opened #127 "How does the project scale when entities growing up?"
Hi, Firstly, Thanks for a great Repo. I have a question would like to ask.
I can see regarding to "Customer" entity. There are 2 projects that contain all relevant codes to "Customer"

Equinox.Application
--Services
--ViewModels

Equinox.Domain
--CommandHandler
--Commands
-- So on.....

If I have a new Entity "Product". I have to create appropriate files/codes in those 2 projects such as:
Equinox.

[2019-03-05 20:13] TeoDanilo commented on #127
Hello, since we don't know when will Eduardo answer, I'll give you a basic answer.

If you only want to create a Product Entity, you pretty much have only to create the appropriate files in all the layers, and adit some others (like EquinoxContext in Infra.Data layer for example). Don't forget to create a new Migration and update your database once you finish the code.

The the easy way to manage

[2019-03-06 16:33] sonphnt commented on #127
Hi @TeoDanilo . So you meant like this?

**Equinox.Domain**
**--Product**
----CommandHandler
------ProductCommandHandler.cs
----EventHandler
----Interfaces
**--Customer**
----CommandHandler
------CustomerCommandHandler.cs
----EventHandler
----Interfaces

[2019-03-06 18:02] TeoDanilo commented on #127
Yes, @sonphnt, thats the idea.

I would do:
Equinox.Domain
**-Products**
   **---CommandHandler** (you could use the Commands folder to store this files if you like)
    _----ProductCommandHandler.cs_
   **---Commands**
    _----ProductCommands.cs_ (here you could create a separate file for eatch command class, like 'CreateNewProcuxtCommand.cs. I usualy put all the classes on the same file)
    _-

[2019-03-09 03:49] lhmiranda commented on #92
IHostedService is cool but you will still have to deal with all the hassle of managing your tasks.
Also, the latest beta version of Hangfire already registers it as a Hosted Service (https://github.com/HangfireIO/Hangfire/issues/962).

[2019-03-09 14:51] MehdiSheykhveysi commented on #83
You can resolve your ٍError through this link  [https://stackoverflow.com/questions/27359999/auto-mapper-unmapped-members-were-found](url)

[2019-03-11 09:43] sonphnt commented on #127
@TeoDanilo Yes, I agree. With this template, we can easily copy/paste entirely Product folder and rename files for a new entity. The question is should we make each entity per folder like Product, Category. They are should be in 2 different folders instead of grouping into 1 folder?

[2019-03-13 19:29] toiletspider commented on #127
@TeoDanilo do you perhaps know why the CustomerEventHandler.cs are in the Domain layer and not the Application layer? Looking at the CustomerEventHandler.cs, it is suppose to send emails, is that not something you would expect in Application.Services?

[2019-03-13 20:36] TeoDanilo commented on #127
@toiletspider  I think basicaly:

1 - CustomerEventHandler is not only to send emails, is been used by CustomerHistory (in Application layer) to store events. So it is a domain logic.
2 - Application layer is used by de MVC layer. Once you had another front end (like Angular, for example) you won't need it anymore, so you would have to remake the CustomerEventHandler in each front-end.  In Domain

[2019-03-13 20:48] TeoDanilo commented on #127
@toiletspider I think basicaly:

1 - CustomerEventHandler is not only to send emails, is used to store events. For example, is accessed by CustomerHistory (in Application layer) to show the updates done on the database and by who. So it is a domain logic.
2 - Application layer are used by de MVC layer. Once you had another front end (like Angular, for example) you won't need it anymore, so you wou

[2019-03-14 05:57] toiletspider commented on #127
@TeoDanilo thank you for the answer. I'm trying to get better understanding of DDD and CQRS, please bare with me:

![DDD Overview](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/microservice-ddd-cqrs-patterns/media/image6.png)

The UI only works with the application layer(where the API are), so there will be no need to rewrite that code. See quote below for a compariso

[2019-03-14 11:21] BeshoyHindy opened #129 "how to use queries for retrieving data instead of accessing repositories from the application layer [discussion]"
Hello folks,

I was wondering for the reason why currently accessing the repositories directly in the application layer to get the data and how about using queries to retrieving the data instead?

[2019-03-27 08:33] caddeo commented on #129
I was looking at this too.

I think it's to keep the example simple. Since you won't need any event storing, it should be pretty easy.

I added the following in `IMediatorHandler`:
`Task<TResponse> GetQuery<TResponse, TQuery>(TQuery query) where TQuery : Query<TResponse>;`

Where `Query<TResponse>` (`query.cs`):

[code]

where you can make a `Request.cs` or something based off `IRequest<TResponse>

[2019-04-14 11:14] DurgaPrasadReddyV opened #130 "Question about mvc options"
Why do we remove the "XmlDataContractSerializerOutputFormatter()" and set a central route prefix with version?

[code]

[2019-04-18 15:14] DurgaPrasadReddyV commented on #130
I had the question clarified on stack overflow. Inline is the response:

"the version parameter is usually used when you want to enable versioning by using [ApiVersion] attribute on the action methods"

Hence closing the issue.

[2019-04-18 15:14] #130 closed

[2019-04-22 00:53] wgfs40 opened #131 "RabbitMQ"
Hello Eduardo, I congratulate you on this project, it is very good.
I would like to know how I could implement rabbitmq has this project.

[2019-05-09 01:59] ioer2008 opened #132 "无法打开项目"
vs2019 已安装 core 2.2,但是打不开项目,请问该如何处理?

![image](https://user-images.githubusercontent.com/12724988/57421610-0f7f0700-723f-11e9-8dbb-8291cdbed5c6.png)

[2019-05-09 12:10] TeoDanilo commented on #132
I do not know your language, so can't tell what the error says, but it seems to be problem with the SDK installed in your machine. You need to install the correct version or change the references. If you delet 'global.json' the project will open, but do this only to see the code, is NOT RECOMENDED to use a project withou the global.json rightly configured.

[2019-05-13 06:49] sc1994 commented on #132
![image](https://user-images.githubusercontent.com/22900800/57601141-48481480-758e-11e9-830a-02374f1fdc17.png) 我想这个错误信息给的非常详细了

[2019-05-16 13:35] jedielson commented on #132
Could we use English here?

[2019-05-18 06:53] sc1994 commented on #132
Ok, My  think is that he cannot open the problem of the solution, which is explained in great detail in the exception list.
That's all I want to say
sorry for the inconvenience
I'm weak in English. 🤷

[2019-05-22 18:06] andershagebakken opened #133 "How do I replay the events?"
Thanks for a great project. How do I restore my tables from the stored events...? :-)

[2019-05-23 14:19] #132 closed

[2019-05-27 02:58] uitanmaciel opened #134 "Dúvida + Ajuda"
Boa noite!

Em primeiro lugar quero parabenizar por estar sempre compartilhando conhecimento para a comunidade.

Estou estudando o código do EquinoxProject e tentando realizar algumas adaptações. Fiquei com uma dúvida em como mapear na camada de Application as consultas customizadas de entidades. Ex.:

No domínio:
public class Order
`{
      //Propriedade de Navegação
     public virtual IEnumerab

[2019-05-31 08:26] MusayevKamran opened #135 "Update Project"
In project if i used customer class in many place. And in future if i want to add new property age or another property . I should to update all called Customer constructor where i call it? Is it right?

[2019-06-17 04:15] rajanbhayana opened #137 "ASP.NET Identity working throught WebAPI services"
What is the timeline for just this feature? Is this already in development?
Thanks. Good work!

[2019-06-17 04:25] rajanbhayana commented on #137
Sorry. I see Identity and webapi are already implemented. Can you update what are you planning in the Q3 as per the readme file?
Thanks

[2019-07-19 01:34] lvmattos commented on #134
@uitanmaciel, tudo bem? Ainda precisa de ajuda para resolver esse problema?

[2019-07-19 02:39] uitanmaciel commented on #134
@lvmattos preciso sim. Poderia me ajudar?

[2019-07-19 02:53] lvmattos commented on #134
Pelo erro no Mapper, você está tentando "converter" uma lista de Order para um unico objeto do tipo OrderViewModel, por isso está dando esse erro, tente fazer assim:

[code]

[2019-07-19 02:53] lvmattos commented on #134
Pelo erro no Mapper, você está tentando "converter" uma lista de Order para um unico objeto do tipo OrderViewModel, por isso está dando esse erro, tente fazer assim:

[code]

[2019-07-30 02:18] #137 closed

[2019-07-31 02:17] huxiaozhong opened #138 "Update-Database (error)"
Applying migration '20161206204752_Initial' error.
An object named 'AspNetUsers' already exists in the database.

how to  fix it? telll me   step1 ....  step2...   please?  the #77  i had see it, but i dont know what did i do.

[2019-08-20 15:06] rafaelfgx commented on #135
Hi!

The situation you encountered is not related to CQRS, but to DDD.

In DDD, the properties of an entity must be assigned only by constructor, and changed only by business methods.

Example:

https://github.com/rafaelfgx/DomainDrivenDesign

[2019-08-31 13:18] gang89 opened #140 "Help with Migration"
Hi I am getting the following error when running migration:

`Unable to create an object of type 'EquinoxContext'. For the different patterns supported at design time, see https://go.microsoft.com/fwlink/?linkid=851728 ---> System.MissingMethodException: No parameterless constructor defined for this object.`

Duplication steps:
1. cd to Equinox.infra.Data folder
2. Run `dotnet ef migrations add In

[2019-09-01 18:19] rhgm opened #141 "Why 2 migrations structure?"
Hello and congratulations for the project!

I see in CrossCutting, 2 migrations structure, why?

[2019-09-02 22:29] rhgm commented on #140
Hello,

In NativeInjectorBootStrapper.cs change services.AddScoped<'EquinoxContext'>(); to services.AddDbContext <'EquinoxContext'>();

Same to EventStoreSQLContext.

Hope this helps.

[2019-09-02 22:44] carloshenriqueribeiro commented on #140
I resolved by changing the context class.
Now without ctor.
- same to :
- EventStoreSQLContext and
- ApplicationDbContext

![image](https://user-images.githubusercontent.com/19979749/64134912-94c39400-cdb9-11e9-95a7-bc4bcb99cf4b.png)

[2019-09-02 22:48] carloshenriqueribeiro commented on #141
in CossCutting only 1 migrations by ApplicationDbContext.

in Ifra/Data + 2 migrations
1 for event context and other for domain context

[2019-09-02 23:27] rhgm commented on #141
I created same structure in my test project, and i execute Add-Migration -Context ApplicationDbContext InitialIdentity on console. The paste Migrations  exist only in Test.Infra.Identity, equals to EquinoxProject in Equinox.Infra.CrossCutting.Identity>Migrations.
The question is: do i need to worry about that? Migration in Equinox.Infra.CrossCutting.Identity>Data>Migrations is important?

<img src

[2019-09-08 15:46] rafaelfgx commented on #140
Hi,

The error happens because the context class does not have an empty constructor, which makes it impossible for migration to know how to instantiate the class:

![image](https://user-images.githubusercontent.com/7357119/64490737-813f7f80-d236-11e9-8b2c-ff0c73d3a242.png)

To solve it, you can create a class that fabricates the context:

![image](https://user-images.githubusercontent.com/7357119/

[2019-09-08 16:00] rafaelfgx commented on #140
Hi,

Your solution solves the problem because the context class has no constructor.

But the options should be passed via constructor, so it does not create concrete dependency within the class and facilitates tests.

[2019-09-13 08:41] quanghoahcm opened #142 "Multi language"
Hello, We can add multi language ?

[2019-09-18 00:27] rafaelfgx commented on #142
Hi,

The following link contains content about globalization and localization:

https://docs.microsoft.com/pt-br/aspnet/core/fundamentals/localization?view=aspnetcore-2.2

[2019-09-21 17:33] gang89 opened #143 "[Discussion] How do we update aggregate with child entity (one to many)"
Hi guys,

I can't seem to wrap my head around how best I can update an aggregate together with its child aggregate while enforcing DDD and encapsulating EF commands at the repository layer.

The below link best explains the scenario:
[https://stackoverflow.com/questions/27176014/how-to-add-update-child-entities-when-updating-a-parent-entity-in-ef](https://stackoverflow.com/questions/27176014/how-t

[2019-09-22 17:04] gang89 commented on #143
Found a solution via the below discussion from the .net Microservices project.

https://github.com/dotnet-architecture/eShopOnContainers/issues/835[https://github.com/dotnet-architecture/eShopOnContainers/issues/835](url)

Basically, will need to pull the object from persistence store, do the necessary changes and trigger update. Hope it helps someone :)

[2019-09-22 17:04] #143 closed

[2019-09-25 09:13] BesirSoft opened #144 "dotnet2.2"

[2019-09-25 09:27] #144 closed

[2019-09-28 07:22] chhinsras opened #145 "Would like to have tutorials or detail explanation on the Event Sourcing."
This is really good cqrs and event sourcing sample, I ever since.

But this is quite confusing as i never implement event sourcing before, i did cqrs.

So, would you mind giving tutorials video or written showing how to write them based on this project

tahnk you

[2019-09-28 13:56] chhinsras commented on #56
React is suggested

[2019-09-30 08:16] chhinsras commented on #127
It seems confusing. Could any one help explaining me how to write this event sourcing.

I would like to use like _context.StoredEvent.Add(RegisteredCustomerEvent()));

Then it should trigger

[2019-10-03 02:45] guilhermesalvi commented on #145
Hello! I'm not the best person to explain, but basically every Command (data change) is sent to the Mediatr and it does the work delegating a task to handler. The handler trigger a event and at the end of the process, the event object is serialized and saved within the database.

[2019-10-04 03:33] pandrer opened #146 "support for aspnetcore 3.0"

[2019-10-08 11:12] gang89 commented on #64
Hi guys, I am facing this issue too.
Is there any reference solution at the mean time? would love to proceed with trying out a new project with this template. But this is currently a blocker :(

[2019-10-20 10:44] gang89 opened #147 "Advise on handling Exceptions"
Hi guys,

Thanks for sharing this project with the community. Have benefited a lot from here just by studying and trying out the project structure.

Would like to clarify regarding the handling of exceptions for this project. It seems like any exceptions that are found in the domain layer is not able to be captured by a global exception.

Example:
In one of my domain model constructor - I were to

[2019-10-20 18:08] Agnei commented on #147
Hello Eduardo,

I've implemented a middleware exceptions for .net core, maybe it sees great for the equinox project.

Follow attached the file. I hope it help you to improve your project.

At.,
Agnei Silva
________________________________
From: gang89 <notifications@github.com>
Sent: Sunday, October 20, 2019 8:45 AM
To: EduardoPires/EquinoxProject <EquinoxProject@noreply.github.com>
Cc: Subscribed

[2019-10-22 12:52] craigacronin commented on #146
Yes I would be interested in this?

[2019-10-24 21:29] brunohbrito opened #148 "Feature Request: ProblemDetails"
There is a RFC about default response type for API's in case of error.

   This document defines a "problem detail" as a way to carry machine-
   readable details of errors in a HTTP response to avoid the need to
   define new error response formats for HTTP APIs.
 - [RFC 7807](https://tools.ietf.org/html/rfc7807)

And Microsoft has a default implementation in ASP.NET Core, [ProblemDetails](https:

[2019-10-24 21:41] brunohbrito opened #149 "Feature Request: Restfull Api support"
There are several articles describing good practices around Restfull API's and how to deal with Responses in each scenario.

I'll address some references at the end.

ASP.NET Core support several different types of Response, e.g:

* Ok()
* NoContent()
* BadRequest()
* CreatedAtAction()
* NotFound()

So Equinox could provide a more Restful approach by supporting some of these requests, instead of j

[2019-11-10 19:36] maxpavlov opened #151 "Would it be possible to reconstruct view/query DB from event store"
Hello. Before I dive into the architecture and implementation too deep, could someone what got acquainted with the Equinox suggest if as it is currently, it would be possible to reconstruct read DB from event store? or does the even store only holds audit records and actual read entities (when there will be many) aren't reconstructable? Thanks.

[2019-11-13 01:33] coretravis opened #152 "Authorization fails for some policies and passes for others"
Hi,
I'm not sure if anyone else has come across this issue where authorization will fail for certain policies and passes for others even though they are all properly registered.

Turns out the ClaimsRequirementHandler class is responsible and here is why;

`var claim = context.User.Claims.FirstOrDefault(c => c.Type == requirement.ClaimName);
            if (claim != null && claim.Value.Contains(re

[2019-11-28 17:34] pavini opened #153 "New feature request: Update to Net Core 3"
Update project to Net Core 3.0

[2019-12-02 02:57] ncxn commented on #153
I use this architecture on .net core 3.0 and It work fine!

[2019-12-02 19:32] pavini commented on #153
@ncxn What you change on this project to build on 3.0. There is some breaks after the upgrade.

[2019-12-03 10:44] ncxn commented on #153
Hello,
It was not possible to upgrade directly to version 3.0, so I upgraded manually. It is not difficult at all. (The code is the same, but some NuGet pack changes).

[2019-12-03 13:29] pavini commented on #153
Hi @ncxn ,

I already update the packages, but there are some break changes with the new packages. Can you create a PR with these changes?

[2019-12-07 19:23] pt-okaylah opened #154 "Creating migrations"
Whats the best way to create the migrations from a blank database.  Firstly it complains about not having a default constructor, then I have a null when trying to get  a connectionstring.  I can sort it out but have to change source code then copy back.

there has to be a simple way to this?

[2020-01-06 18:17] leandrofagundes opened #155 "Separation concerns should not avoid 3rd party frameworks on application layer?"
Hi @EduardoPires,

I was wondering if the application layer could have a dependency to the automapper. After reading a little about architecture (Clean Architecture mainly) I step into the point of the Domain and Application layers never have dependencies of any other framework or libraries.

Can you explain it a little more and if it's ok or not?

Thanks

[2020-01-07 00:02] knuxbbs commented on #155
I think that the application layer main purpose is to take the complexity from the presentation layer.

[2020-01-22 05:05] #155 closed

[2020-01-22 05:06] EduardoPires commented on #154
You can use the commands:

Migration-Add Name -c ContextName

[2020-01-22 05:06] #154 closed

[2020-01-22 05:07] EduardoPires commented on #153
@pavini @ncxn

Done. Migrated to 3.1

[2020-01-22 05:07] #153 closed

[2020-01-22 05:08] EduardoPires commented on #152
Your suggestion seems ok.

[2020-01-22 05:08] #152 closed

[2020-01-22 05:10] EduardoPires commented on #151
You can create a kind of replay and recreate your entities executing each event (ordered old > new)

[2020-01-22 05:10] #151 closed

[2020-01-22 05:14] EduardoPires commented on #147
@gang89  We try to avoid exceptions for known reasons. You can let validations do all the work and they will publish error notifications

[2020-01-22 05:14] #147 closed

[2020-01-22 05:14] EduardoPires commented on #146
Done

[2020-01-22 05:14] #146 closed

[2020-01-22 05:16] EduardoPires commented on #145
You can try this:
https://aka.ms/microservicesebook

[2020-01-22 05:17] #145 closed

[2020-01-22 05:17] #142 closed

[2020-01-22 05:18] EduardoPires commented on #141
Isn't necessary. But you can keep migrations files if you want

[2020-01-22 05:18] #141 closed

[2020-01-22 05:18] #140 closed

[2020-01-29 12:13] NecroKorn opened #157 "inserting the same Customer several times generates duplicate records"
**Describe the bug**
When I make a Curtomer data insertion call servide directly (using the same record, with the same data) with 3 threads that run simultaneously, it creates more than one record with the same data but with different IDs, indicating that I am using the Customer class where the Email is the primary key to validate

is there any way to control this event?

[2020-02-04 16:27] EduardoPires commented on #157
Simple solution:

Set e-mail column as Index

[2020-02-04 16:27] #157 closed

[2020-02-04 17:15] NecroKorn commented on #157
Thanks a lot,!

[2020-03-09 01:15] CanMehmetK commented on #92
I was trying it...
When researching, found kamil has some words about subject.
http://www.kamilgrzybek.com/design/processing-commands-with-hangfire-and-mediatr/

[2020-03-14 15:13] anomepani commented on #23
Docker builds failing and getting below error.

[code]

[2020-04-12 14:01] maxpavlov opened #158 "Immediate consistency or how to know if Register customer was successful"
At the moment, CustomerController in Equinox.Services.Api will always return status 200 to any request to register a new customer since the consistency is not implemented and the error feedback loop from a Register method in CustomerAppService. Basically it will send a command to register a new customer to an in-memory bus, bus will write a generic (not linked to a particular transaction) message

[2020-04-16 11:12] pavini opened #159 "Identity custom field"
Dear,

I'm trying to add a new custom field (FullName) to identity.

[code]
My Startup.cs class

[code]

ApplicationDbContext.cs

[code]

My update-database do not identify the new field.

[2020-04-16 11:28] paulosiquiero commented on #159
You need to specify the CustomIdentityUser in the IdentityDbContext extension.

public class ApplicationDbContext : IdentityDbContext<CustomIdentityUser> { ...

[2020-04-16 11:30] paulosiquiero commented on #159
You need to specify the CustomIdentityUser in the IdentityDbContext inheritance.

public class ApplicationDbContext : IdentityDbContext { ...

[2020-04-16 11:32] paulosiquiero commented on #159
You need to specify the CustomIdentityUser in the IdentityDbContext inheritance.

public class ApplicationDbContext : IdentityDbContext<CustomIdentityUser> { ...

[2020-04-16 11:33] paulosiquiero commented on #159
Tou need to specify the CustomIdentityUser in the ApplicationDbContext inheritance.

`public class ApplicationDbContext : IdentityDbContext<CustomIdentityUser> { ...`

[2020-05-02 18:28] maxpavlov opened #160 "Customer "Write" and "Remove" claims are only added with Presentation registration"
Both API and MVC (aka Presentation) apps require "Customer" - "Write" and "Remove" claims for Customer management controllers. However, an API "Register" action in an `AccountController` does not add those claims to a user. MVC does. Thus I assume users created through an API will not be able to manipulate customers. Is this an intended logic?

[2020-06-09 05:34] EduardoPires commented on #160
You can add the claims manually or create some feature to manage user claims.

[2020-06-09 05:34] #160 closed

[2020-06-09 05:35] #159 closed

[2020-06-09 05:36] EduardoPires commented on #158
This project uses imediate consistency and now is returning 204 from API

[2020-06-09 05:36] #158 closed

[2020-06-09 22:21] EduardoPires commented on #149
Done at #161

[2020-06-09 22:21] #149 closed

[2020-06-09 22:22] EduardoPires commented on #148
Done at #161

[2020-06-09 22:22] #148 closed

[2020-06-09 22:24] EduardoPires commented on #122
After thinking about this design, I will let the user implement it on their own. Equinox is not a boiler plate, so it's better maintain the simplicity.

[2020-06-09 22:24] #122 closed

[2020-06-09 22:26] EduardoPires commented on #78
The new improvements took care of that.

[2020-06-09 22:26] #78 closed

[2020-06-09 22:27] EduardoPires commented on #64
The environment variables are located at startup and launchsettings, this is the correct way to proceed.

[2020-06-09 22:27] #64 closed

[2020-06-09 22:28] EduardoPires commented on #16
Done.

[2020-06-09 22:28] #16 closed

[2020-06-13 17:39] attritionorg commented on #16
@EduardoPires Can you link to the fixing commit please?

[2020-07-14 20:40] mayureshs opened #166 "Generate Identity related tables"
Is there a documentation on how to start this project ?  I have ran two update-database commands for the two DbContext in the Infra.Data project. But how do I create the Identity related tables ? They are not getting created upon startup and Registration throws an error.

[2020-07-15 02:45] faironsp commented on #166
Também estou com essa dificuldade, como gerar os modelos e como dar um update, add um migration, por favor nos ajude :)

[2020-07-15 03:27] carloshenriqueribeiro commented on #166
When did you run update-database, did you set the right project ? Sent the -Context parameter ?

Could you send the commands and result of it ?

For me works fine.

[2020-07-15 03:43] carloshenriqueribeiro opened #167 "Unit Tests"
Include unit tests

[2020-07-15 11:18] mayureshs commented on #166
I had to run the below scripts to create the database. However it was missing the Identity tables. How can I create those ?
dotnet ef database update --context EquinoxContext --project Equinox.Infra.Data/Equinox.Infra.Data.csproj --startup-project Equinox.UI.Web/Equinox.UI.Web.csproj
dotnet ef database update --context EventStoreSqlContext --project Equinox.Infra.Data/Equinox.Infra.Data.csproj --s

[2020-07-15 11:35] TeoDanilo commented on #166
There are a third Context to update, the ApplicationDbContext on Equinox.Infra.CrossCutting.Identity

[2020-07-15 11:42] mayureshs commented on #166
Thanks for your comment, However I do not see the third context in Equinox.Infra.CrossCutting.Identity

https://github.com/EduardoPires/EquinoxProject/tree/master/src/Equinox.Infra.CrossCutting.Identity

[2020-07-15 11:45] TeoDanilo commented on #166
Oh sorry, looks like the version I have here is outdated, Eduardo change it recently to "NetDevPack.Identity".

[2020-07-15 11:51] mayureshs commented on #166
Looks like it, let me know what I need to run to generate the Identity tables.

[2020-07-15 12:07] TeoDanilo commented on #166
or

For more information:
https://github.com/NetDevPack/NetDevPack.Identity

[2020-07-15 21:06] faironsp commented on #166
No meu caso eu não estava conseguindo gerar as tabelas AspNetUser... etc, era porque o projeto que tinha feito download não veio com os migrations, então primeiro faça a migrations e depois o update database.

dotnet ef migrations add Initial --context NetDevPackAppDbContext --project Equinox.Infra.CrossCutting.Identity/Equinox.Infra.CrossCutting.Identity.csproj --startup-project Equinox.UI.Web/Eq

[2020-07-23 12:06] ascariz opened #168 "Failed to connect to SQL Server."
When executing and registering a user it gives me this error:

I have in my SQL Server: PORTATIL \ SQLPORTATIL -> Equinox -> Created the Database with the GenerateDataBase.sql

I have in the configuration files like this "DefaultConnection": "Server = PORTATIL \\ SQLPORTATIL; Database = Equinox; User Id = sa; password = CccpB003; Trusted_Connection = False; MultipleActiveResultSets = true;" and th

[2020-07-23 12:21] faironsp commented on #168
dotnet ef migrations add Initial --context EquinoxContext --project Equinox.Infra.Data/Equinox.Infra.Data.csproj --startup-project Equinox.UI.Web/Equinox.UI.Web.csproj
dotnet ef migrations add Initial --context EventStoreSqlContext --project Equinox.Infra.Data/Equinox.Infra.Data.csproj --startup-project Equinox.UI.Web/Equinox.UI.Web.csproj
dotnet ef migrations add Initial --context NetDevPackAppDb

[2020-07-23 12:33] ascariz commented on #168
The problem was that there is more than one connection to BD, changing all the appsettings.json
with that everything was solved.
Thank you

[2020-08-14 04:19] jpdelboni opened #169 "Configuração padrão do Identity no NetDevPack.Identity"
Existe uma forma de quando usar o comando do NetDevPack - AddIdentityConfiguration customizar os tipos do IdentiyUser e IdentityRole?
Assim que o comando AddIdentityConfiguration ele registra essas classes como string, gostaria de usar o Guid.

[2020-08-14 15:53] lawrenceong001 commented on #74
Hello,
just wondering if this has been implemented? I'm also interested in how this pattern can be achieved in your solution.

tks
Lawrence

[2020-08-19 18:17] digounet opened #170 "Unit tests"
Please, how to unit test de application layer? how to inject the required classes?

[2020-08-21 06:06] JavaScript-zt opened #171 "为什么只有事件保存,没有事件查询,希望通过DynamicApiControllerInfo根据Serivce 自动生成WebAPI"

[2020-08-21 06:38] pangjianxin commented on #171
this issue you submited in chinese language is disrespectful to the author

[2020-09-24 07:59] w405287435 opened #172 "hello，where is identity context？ How to use"
/api/Account/login

Microsoft.Data.SqlClient.SqlException (0x80131904): 对象名 'AspNetUsers' 无效。
   at Microsoft.Data.SqlClient.SqlCommand.<>c.<ExecuteDbDataReaderAsync>b__164_0(Task`1 result)
   at System.Threading.Tasks.ContinuationResultTaskFromResultTask`2.InnerInvoke()
   at System.Threading.Tasks.Task.<>c.<.cctor>b__274_0(Object obj)
   at System.Threading.ExecutionContext.RunInternal(Execution

[2020-09-24 14:12] #172 closed

[2020-10-15 21:16] pavini commented on #166
Caros,

Nenhuma das opções funcionou pra mim.

[code]

Alguma luz por favor?

[2020-10-15 21:46] TeoDanilo commented on #166
Tá usando o PowerShell ou o console do nuget? Se for pelo console, certifique-se de que está com o projeto correto selecionado e execute:

update-database -context NetDevPackAppDbContext

[2020-10-16 01:42] pavini commented on #166
TeoDanilo, eu estou usando o terminal do MacOS

[2020-11-27 19:34] pavini opened #174 "Exempt de Azure Function com DI"
Caros,

Alguem pode dar um exemplo de como pode aproveitar o IoC pra uma Azure Function neste projeto? Fiz varias buscar na internet, tentei fazer funcionar aqui no Equinox, mas nao consegui.

Alguém pode dar um caminho?

Abs

[2020-11-27 20:00] bruno-vferreira commented on #174
opa!

ja utilizei e foi mais ou menos assim

https://thedavidmasters.com/2019/01/30/using-autofac-in-azure-functions/

[2020-11-27 20:22] pavini commented on #174
Fala Bruno...

Olha.. avançou..

Como você configurou o contexto?

Eu fiz assim:

 DependencyInjection.Initialize(builder =>

[code]

Recebo esse erro

Executed 'ConsultaTimeTrigger' (Failed, Id=ee858e2a-c1b0-4e8d-afbb-ac16d7e8fe16, Duration=126ms)
[2020-11-27T20:18:31.457Z] System.Private.CoreLib: Exception while executing function: ConsultaTimeTrigger. Microsoft.Azure.WebJobs.Host: Exception bin

[2021-01-19 19:09] victorlpb92 opened #175 "CRUD para um Aggregate com Child Enity"
Gostaria de enternder melhor como dentro do padrão DDD ao atulizar um Aggrefate como gerenciar o CRUD dos Children.

A inserir tudo ocorre perfeitamente. O que eu não é o UPDATE ao remover o filho nada aconte e quando adicionamos um o EF Core retorna um erro.

[2021-01-19 20:15] victorlpb92 commented on #175
`public class PaymentTerm : Entity, IAggregateRoot
    {
        public PaymentTerm(short payTermCode, string payTermName, short instNum, bool active, List<PaymentTermInstallmentLayout> paymentTermInstallmentLayouts)
        {
            PayTermCode = payTermCode;
            PayTermName = payTermName;
            InstNum = instNum;
            Active = active;
            _paymentTermInstallment

[2021-01-19 20:24] victorlpb92 commented on #175
[code]

[2021-01-31 08:47] pranavpatil19 opened #176 "Some services are not able to be constructed (Error while validating the service descriptor)"
Some services are not able to be constructed (Error while validating the service descriptor 'ServiceType: NetDevPack.Mediator.IMediatorHandler Lifetime: Scoped ImplementationType: EventBus.Memory.InMemoryBus': Unable to resolve service for type 'Domain.Core.Events.IEventStore' while attempting to activate 'EventBus.Memory.InMemoryBus'.)'

[2021-02-01 18:40] eliezeralmeida opened #177 "Essa arquitetura CQRS + ES ainda é considerada válida?"
Estou iniciando um projeto webapi com arquitetura CQRS e encontrei o Equinox, alguém que utiliza e tem mais conhecimento no assunto poderia dizer se essa ainda é um arquitetura válida para uso?

[2021-02-02 00:18] FernandoVezzali commented on #177
Olá Elieze, tudo bem? Com certeza é valida.

Acho que a pergunta que você deveria se fazer é a arquitetura encaixa com a sua necessidade.

[2021-02-02 17:16] eliezeralmeida commented on #177
Aparentemente se encaixa perfeitamente no que eu quero fazer, estava na dúvida se iria precisar dos registros de eventos, ai cheguei na conclusão que será muito compensador ter estes eventos registrados quando algum comando alterar o estado de algo permanentemente no banco de dados.

Em algumas pesquisas identifiquei que o padrão Event Sourcing é utilizado para substituir a alteração de registros

[2021-02-06 17:15] rafaelfgx commented on #177
@eliezeralmeida, como o @FernandoVezzali falou anteriormente sobre o projeto ser válido, nesse caso a pergunta que você deveria se fazer não é "se armazenar os eventos em outro lugar é considerada boa", mas sim se o Event Sourcing é uma boa para o seu contexto.

Event Sourcing é um padrão muito bom, MAS é trabalhoso de aplicar na prática, e por isso só se justifica nos cenários em que realmente é

[2021-02-06 17:34] rafaelfgx commented on #175
DDD não diz "como deve ser feito", mas sim "o que deve ser feito", ele é livre de tecnologias e frameworks.

Se for aplicar DDD "ao pé da letra", cada agregado deve ter apenas um único repositório para todas as suas entidades, por exemplo:

Se você tiver duas entidades em um agregado, NotaFiscal (raíz do agregado) e NotaFiscalItem, você vai ter apenas o repositório da raíz do agregado NotaFiscalRe

[2021-02-08 20:35] eliezeralmeida commented on #177
@rafaelfgx obrigado por responder, o Event Sourcing é um ótimo recurso para meu contexto, estava na dúvida sobre seu armazenamento separado, diferente do que eu havia pesquisado. Porém presumo que o mesmo foi implementado dessa maneira para ser usado em um banco de dados NO SQL, já que utiliza apenas uma tabela e armazena os dados como JSON.

Agradeço a todos pelo apoio.

[2021-02-08 20:35] #177 closed

[2021-03-18 02:48] shubhamdhanetia opened #178 "Need migration commands to start with the projects"
I created a database Equinox in SQL Server and updated the connection string in the appsettings.json file to

"DefaultConnection": "Server=localhost; Database=Equinox; Trusted_Connection=True; Persist Security Info=True;Connect Timeout=30"

Run the migration commands on two Context objects on the project Infra.Data

Add-Migration InitialMigration -c EquinoxContext
Add-Migration InitialMigration -c

[2021-03-29 18:10] TeoDanilo commented on #166
Sorry for the long time, did you menage to resolve this? If not, or if someone else have this issue, try do add migration to the Identity project.

[2021-03-29 18:21] TeoDanilo opened #179 "Api generating an invalid JTW signature"
**Describe the bug**
The JWT token generated by the Api at the login or user registration has a invalid signature.

**To Reproduce**
Steps to reproduce the behavior:
1. Start up the Api project and, using swagger, register a new user or try to login;
2. Copy the generated token and past at the jtw.io Degguger
3. See error

**Desktop (please complete the following information):**
 - OS: Windows 10

[2021-03-29 18:23] TeoDanilo commented on #176
You are trying to execute the Project with or without alterations?

[2021-03-29 22:36] TeoDanilo commented on #179
Was not an issue, I was trying the wrong algorithm.

[2021-03-30 16:50] #179 closed

[2021-04-07 03:04] EduardoPires commented on #178
If the update command was executed with success the tables need to be there. Did you checked the correct DB?

[2021-04-07 03:04] #178 closed

[2021-04-07 03:05] EduardoPires commented on #176
@pranavpatil19 the original code is working.

[2021-04-07 03:05] #176 closed

[2021-04-07 03:05] #175 closed

[2021-04-07 03:05] #171 closed

[2021-04-07 03:06] #174 closed

[2021-04-07 03:07] EduardoPires commented on #170
Its hard to explain. I don't know your tests stills. I will try write some tests cases in next versions.

[2021-04-07 03:08] #170 closed

[2021-04-07 03:08] EduardoPires commented on #169
English please. This is a 'global' project

[2021-04-07 03:08] #169 closed

[2021-04-07 03:09] #168 closed

[2021-04-07 03:09] EduardoPires commented on #167
Ok!

[2021-04-07 03:09] #167 closed

[2021-04-07 03:10] #166 closed

[2021-04-07 03:11] EduardoPires commented on #95
It requires SignalR I'll try to write a chat feature in next versions.

[2021-04-07 03:11] #95 closed

[2021-04-07 03:12] EduardoPires commented on #29
We are using NetDevPack.Identity that works well, IDS 4 is not necessary and now is a paid service.

[2021-04-07 03:12] #29 closed

[2021-04-13 01:55] pavini opened #181 "Customizar IdentityUser"
Caros,

Com o uso do NetDevPack.Identity, confesso que não consegui encontrar uma forma para customizar o IdentityUser.

Qual seria o melhor caminho para este projeto? Alguem consegue dar uma direção?

Abs

[2021-05-16 04:45] brunohbrito commented on #27
@leonardoaguiar

Edit your comment and remove your cellphone :)

[2021-05-17 11:41] leonardoaguiar commented on #27
Done. Thank you.

[2021-05-20 13:52] eliezeralmeida opened #182 "Ajuda para teste Teste de unidade para o CommandHandler e assert do evento publicado"
### Cenário

Utilizei alguns conceitos da arquitetura do projeto Equinox, um dos recursos foi o de publicar eventos pelo mediator utilizando a mesma técnica do projeto, onde tem um método commit na DbContext e esse método é o responsável por publicar os eventos que estão na Entidade.

## O que estou testando

Estou testando um command handler, no caso que irei apresentar é o ClienteHandler manipul

[2021-06-23 20:40] NecroKorn opened #184 "implement business rules involving multiple entities"
To implement domain services, do I necessarily need to execute sendCommand?

Is it possible to create a service as an orchestrator that performs a process by executing actions on more than one entity in the same domain?

[2021-08-28 09:56] jalberromano1980 opened #185 "When updating Identity Migration in the Equinox.UI.Web layer an error is appearing that the object of type ApplicationDbContext cannot be created"
I'm having problems updating Identity Migration on Equinox.UI.Web layer. An error appears stating that it is not possible to create the object of type ApplicationDbContext.

What is wrong?

Console error:

PM> Update-Database -Context: ApplicationDbContext
Build started...
Build succeeded.
Unable to create an object of type 'ApplicationDbContext'. For the different patterns supported at design tim

[2021-09-06 09:48] mysharp commented on #185
hi, @jalberromano1980
     you can add the ApplicationDbContext in the Equinox.UI.Web.Configurations.DatabaseConfig, just like the EquinoxContext. then you can call this: Update-Database -Context: ApplicationDbContext
![image](https://user-images.githubusercontent.com/26587307/132197618-7e3012a5-2432-4987-84f8-3fd38cf2a60e.png)

[2021-09-06 19:43] EduardoPires commented on #184
This project is using CQRS concepts, that decouple the responsibilities of each intention.
You will need a domain service with a cross-aggregate scenario (eg checkoutService) when you have the entities (Product, Order, OrderDetail, Customer, Payment [and more]) in this case there's no only one entity to be responsible, so you need use a domain service to coordinate this kind of complex process.

[2021-09-06 19:43] #184 closed

[2021-09-06 19:45] EduardoPires commented on #182
I'm closing this issue. To be more inclusive with the global community we are just accepting issues in English.

[2021-09-06 19:45] #182 closed

[2021-09-06 19:45] EduardoPires commented on #181
I'm closing this issue. To be more inclusive with the global community we are just accepting issues in English.

[2021-09-06 19:45] #181 closed

[2021-09-24 01:32] mcojocaru-isn commented on #185
I think you would need to add Microsoft.EntityFrameworkCore.Design if not already and the Equinox.UI.Web must be the default project when doing the update-database

[2021-10-01 09:31] ascariz opened #186 "Relate in EquinoxContext AspNetUsers with Employee"
Hello good
I loved the project, sorry for my English

But I have to join the AspNetUsers table to an employee table, but I don't know how to do it, I'm doing it like this, but I don't know how to do it in E.F.

I have to create the AspNetUsers table in the Domain.Models and add a field that is Employee Id, or how I have to do it.
any ideas?
thank you.

[2021-10-01 11:36] ascariz commented on #185
Hi there.
I get the same error when updating the users model.

I have added the dll Microsoft.EntityFrameworkCore.Design (5.0.5).
I select the UI.Web project and the command "add-migration UserEmpleado -context ApplicationDbContext -outputdir Migrations /" and it gives me the same error

What can be?

[2021-10-03 13:01] jalberromano commented on #185
I changed some things in the project, but found a solution by doing a lot of testing.
In the "AddDatabaseConfiguration" class I commented:

` //services.AddDbContext<ERPContext>(options =>
            //    options.UseNpgsql(configuration.GetConnectionString("DefaultConnection")));`

And in the DATA layer, in the EquinoxContext class, I created an "OnConfiguring" method:

` protected override void

[2021-10-04 15:27] ascariz commented on #185
Thanks.

I have commented the code in Equinox.UI.Web.Configurations

[code]

I have changed it but it fails me.

I have added in the project -> Equinox.Infra.Data.Context -> the method -> OnConfiguring but it gives me error here (UseNpgsql), it does not recognize it.

optionsBuilder.UseNpgsql(config.GetConnectionString("DefaultConnection"));

I don't know how to fix it. some way?

[2021-10-04 16:08] jalberromano commented on #185
When creating the protected override method void OnConfiguring (DbContextOptionsBuilder optionsBuilder) everything worked correctly for my case.

[2021-10-04 16:11] EduardoPires commented on #185
Hi @jalberromano @jalberromano1980 is the same person? Can I consider this issue closed?

[2021-10-04 16:13] EduardoPires commented on #186
Hi!

The AspNetUsers is for user control. If you need add more details to this "persona" that's represented by the user I recommend to have a new table "Employees" and share the same PK as you have in the AspNetUsers

[2021-10-04 16:13] #186 closed

[2021-10-05 07:10] ascariz commented on #185
I have changed the line ->
optionsBuilder.UseNpgsql (config.GetConnectionString ("DefaultConnection"));
by
optionsBuilder.UseSqlServer (config.GetConnectionString ("DefaultConnection"));
but it keeps giving me this error.?
Unable to create an object of type 'ApplicationDbContext'. For the different patterns supported at design time, see https://go.microsoft.com/fwlink/?linkid=851728
any solution?.

[2021-10-05 13:46] EduardoPires commented on #185
@ascariz changing the provider don't change the necessary configuration to make your context works.

You need to check if your context setup are correct

[2021-10-20 19:37] #185 closed

[2022-04-03 07:08] EthernalHusky opened #189 "Why is ApplicationDbContext.cs inside Equinox.UI.Web project?"
What if I do not want to use Equinox.UI.Web and use only angular or react? I feel I am forced to run Equinox.UI.Web in order to generate AspNetUsers tables and stuff. ( I am using dotnet migrations, I am not using the sql text because I am runing this in postgresql)

you should re order the project and put ApplicationDbContext.cs inside Equinox.Services.Api project.

[2022-04-13 11:34] vRITHNER opened #191 "customer history api non consistent with the name between API and Web project"
Hi,
In API project, the history API route is:
`[HttpGet("customer-management/history/{id:guid}")]
`

In Web project, the history API route is:
`HttpGet("customer-management/customer-history/{id:guid}")]`

the application doesn't work in localhost but is working fine in Azure

[2022-06-27 05:12] denis-tsv opened #192 "EquinoxProject is not sample of EventSourcing, but sample of audith log"
Hi,
EquinoxProject stored list of changes for Customer aggregate. But it is impossible to create last state of aggregate using events, events used only to displaying aggregate history.
So EquinoxProject - it is not sample of event sourcing, it is sample of audith log.

[2022-07-30 15:52] HSSousa opened #193 "Doubt in migrations"
English:
Hello how are you?

From now on, I emphasize the great importance of the initiative to spread information that leverages the technical level of the community!
I intended to run the project locally, so I needed to run the migrations. The Equinox.Infra.Data project contexts (EquinoxContext and EventStoreSQLContext) were successfully migrated, so I thought I could run it normally.
When tryin

[2022-07-30 17:29] HSSousa commented on #193
Update:
I did some research and was able to find the solution!

1st Requirement: Be in the src folder.
![image](https://user-images.githubusercontent.com/39819396/181934828-be57f78f-5abf-4eea-8839-e8744c613c7e.png)

Run all these commands:
dotnet ef migrations add Initial --context NetDevPackAppDbContext --project Equinox.Infra.CrossCutting.Identity/Equinox.Infra.CrossCutting.Identity.csproj --sta

[2022-07-30 17:30] #193 closed

[2022-10-05 13:06] appsupport-gc commented on #70
Yes!  I found the solution:

Adding Ignore for each member:

 CreateMap<TestMe, TestMeDto>().ForMember(x => x.SomethingElse, opt => opt.Ignore());

Or changing validation to false

options.AddMaps<TheProblemApplicationModule>(validate: false);